Repository BirthdayResearch/defiscan.live, changes with the owners that .github/CODEOWNERS names for each.
All owners: @fuxingloh, @joeldavidw, @thedoublejay, @nichellekoh, @chloezxyy, @fullstackninja864, @kyleleow, @pierregee, @G9000, @JoshuaC817

.github/CODEOWNERS:

# Define individuals that are responsible for code in a repository.
# More details are here: https://help.github.com/articles/about-codeowners/

/.github/                                       @fuxingloh @joeldavidw @thedoublejay
/.husky/                                        @fuxingloh @joeldavidw @thedoublejay

/src/                                           @joeldavidw @nichellekoh @thedoublejay @chloezxyy @fullstackninja864 @kyleleow @pierregee @G9000 @JoshuaC817

/src/styles/                                    @joeldavidw @thedoublejay @kyleleow @pierregee @G9000 @JoshuaC817
postcss.config.js                               @joeldavidw @thedoublejay @kyleleow @pierregee @G9000 @JoshuaC817
tailwind.config.js                              @joeldavidw @thedoublejay @kyleleow @pierregee @G9000 @JoshuaC817

/public/                                        @joeldavidw @thedoublejay @kyleleow @pierregee @G9000 @JoshuaC817

next.config.js                                  @joeldavidw @thedoublejay @kyleleow @pierregee
package.json                                    @joeldavidw @thedoublejay @kyleleow @pierregee
package-lock.json                               @joeldavidw @thedoublejay @kyleleow @pierregee
tsconfig.json                                   @joeldavidw @thedoublejay @kyleleow @pierregee

CONTRIBUTING.md                                 @fuxingloh @joeldavidw @thedoublejay @kyleleow @pierregee
README.md                                       @fuxingloh @joeldavidw @thedoublejay @kyleleow @pierregee
LICENSE                                         @fuxingloh

fix(ui-ux): fix font color on warning banner
  src/components/commons/banner/WarningBanner.tsx
Owners: @joeldavidw, @nichellekoh, @thedoublejay, @chloezxyy, @fullstackninja864, @kyleleow, @pierregee, @G9000, @JoshuaC817

refactor(ui-ux): api integration for dex price
  src/layouts/Default.tsx
  src/pages/auctions/_components/commons/BidAmountValue.tsx
  src/pages/dex/[poolpairId]/_components/PoolPairDetailsBar.tsx
  src/pages/dex/_components/PoolPairsCards.tsx
  src/pages/dex/_components/PoolPairsTable.tsx
  src/pages/vaults/[vaultid]/auctions/_components/DesktopAuctionDetails.tsx
  src/pages/vaults/[vaultid]/auctions/_components/MobileAuctionDetails.tsx
  src/pages/vaults/hooks/CalculateAuctionsValue.tsx
  src/pages/vaults/hooks/TokenPrice.ts
  src/store/dexPrices.tsx
  src/store/index.ts
Owners: @joeldavidw, @nichellekoh, @thedoublejay, @chloezxyy, @fullstackninja864, @kyleleow, @pierregee, @G9000, @JoshuaC817

refactored pair card price logic
  src/pages/dex/_components/PoolPairsCards.tsx
  src/pages/dex/_components/PoolPairsTable.tsx
Owners: @joeldavidw, @nichellekoh, @thedoublejay, @chloezxyy, @fullstackninja864, @kyleleow, @pierregee, @G9000, @JoshuaC817

refactor(ui-ux): api integration for dex price (#1351)
  src/layouts/Default.tsx
  src/pages/auctions/_components/commons/BidAmountValue.tsx
  src/pages/dex/[poolpairId]/_components/PoolPairDetailsBar.tsx
  src/pages/dex/_components/PoolPairsCards.tsx
  src/pages/dex/_components/PoolPairsTable.tsx
  src/pages/vaults/[vaultid]/auctions/_components/DesktopAuctionDetails.tsx
  src/pages/vaults/[vaultid]/auctions/_components/MobileAuctionDetails.tsx
  src/pages/vaults/hooks/CalculateAuctionsValue.tsx
  src/pages/vaults/hooks/TokenPrice.ts
  src/store/dexPrices.tsx
  src/store/index.ts
Owners: @joeldavidw, @nichellekoh, @thedoublejay, @chloezxyy, @fullstackninja864, @kyleleow, @pierregee, @G9000, @JoshuaC817

chore(deps): bump jellyfish packages
  docker-compose.yml
  package-lock.json
  package.json
Owners: @joeldavidw, @thedoublejay, @kyleleow, @pierregee

chore(deps): bump jellyfish packages (#1352)
  docker-compose.yml
  package-lock.json
  package.json
Owners: @joeldavidw, @thedoublejay, @kyleleow, @pierregee

fix(ui-ux): SEO updates
  src/layouts/Default.tsx
Owners: @joeldavidw, @nichellekoh, @thedoublejay, @chloezxyy, @fullstackninja864, @kyleleow, @pierregee, @G9000, @JoshuaC817

fix(ui-ux): SEO updates (#1353)
  src/layouts/Default.tsx
Owners: @joeldavidw, @nichellekoh, @thedoublejay, @chloezxyy, @fullstackninja864, @kyleleow, @pierregee, @G9000, @JoshuaC817

chore(deps): update to prettier
  .editorconfig
  .eslintrc
  .github/workflows/ci.yml
  .lintstagedrc.js
  package-lock.json
  package.json
  src/components/commons/banner/WarningBanner.tsx
Owners: @fuxingloh, @joeldavidw, @thedoublejay, @kyleleow, @pierregee, @nichellekoh, @chloezxyy, @fullstackninja864, @G9000, @JoshuaC817

chore(deps): update to prettier
  src/components/commons/searchbar/SearchBar.tsx
Owners: @joeldavidw, @nichellekoh, @thedoublejay, @chloezxyy, @fullstackninja864, @kyleleow, @pierregee, @G9000, @JoshuaC817

chore(deps): temporary off
  .eslintrc
Owners: none

chore(deps): temporary off
  package-lock.json
  package.json
Owners: @joeldavidw, @thedoublejay, @kyleleow, @pierregee

chore(deps): downgrade recharts
  package-lock.json
  package.json
Owners: @joeldavidw, @thedoublejay, @kyleleow, @pierregee

chore(deps): check only staged files
  .github/workflows/ci.yml
Owners: @fuxingloh, @joeldavidw, @thedoublejay

chore(deps): check only staged files
  .github/workflows/ci.yml
Owners: @fuxingloh, @joeldavidw, @thedoublejay

chore(deps): check only staged files
  src/layouts/Default.tsx
Owners: @joeldavidw, @nichellekoh, @thedoublejay, @chloezxyy, @fullstackninja864, @kyleleow, @pierregee, @G9000, @JoshuaC817

chore(deps): update to prettier (#1354)
  .editorconfig
  .eslintrc
  .github/workflows/ci.yml
  .lintstagedrc.js
  package-lock.json
  package.json
  src/components/commons/banner/WarningBanner.tsx
  src/components/commons/searchbar/SearchBar.tsx
  src/layouts/Default.tsx
Owners: @fuxingloh, @joeldavidw, @thedoublejay, @kyleleow, @pierregee, @nichellekoh, @chloezxyy, @fullstackninja864, @G9000, @JoshuaC817

chore(deps): update to SWC
  next.config.js
Owners: @joeldavidw, @thedoublejay, @kyleleow, @pierregee
