Repository BirthdayResearch/defiscan.live, pull requests merged in 2021-08, with the labels that each got.

#93 added ui-ux label governance
  .github/governance.yml
  .github/labels.yml
Labels: area/workflow, kind/chore

#92 Added tsconfig.json config path mapping for cleaner code for common imports
  src/layouts/contexts/api/NetworkQuery.tsx
  src/layouts/contexts/index.ts
  tsconfig.json
Labels: area/layouts, kind/chore

#90 Added basic site wide open graph and meta tags
  src/layouts/Default.tsx
Labels: area/layouts, kind/chore

#95 `<Header/>` & `<Footer/>`
  package-lock.json
  package.json
  src/layouts/components/Footer.tsx
  src/layouts/components/Header.tsx
Labels: area/layouts, kind/feature

#97 `defichain-dependencies.yml` to bump jellyfish/whale/playground individually
  .github/workflows/defichain-dependencies.yml
Labels: area/workflow, kind/chore

#105 added 404 page
  src/pages/404.tsx
Labels: kind/feature

#108 Enabled TestNet network
  src/layouts/contexts/api/Environment.ts
Labels: area/layouts, kind/feature

#109 updated CODEOWNERS to include @aikchun @siradji
  .github/CODEOWNERS
Labels: area/workflow, kind/chore

#112 new domain: `https://defiscan.live`
  README.md
  netlify.toml
  src/layouts/contexts/WhaleContext.tsx
  src/layouts/contexts/index.ts
Labels: area/layouts, kind/refactor

#113 Added pages/transactions/[txid].tsx for temporary redirect to the old explorer
  src/pages/transactions/[txid].tsx
Labels: area/transactions, kind/feature

#115 added custom keep network `<Link/>` implementation
  .eslintrc
  src/components/commons/Link.tsx
  src/layouts/Default.tsx
  src/layouts/components/Footer.tsx
  src/layouts/components/Header.tsx
  src/layouts/contexts/WhaleContext.tsx
  src/layouts/contexts/api/NetworkQuery.tsx
  src/layouts/contexts/index.ts
Labels: area/layouts, kind/fix

#116 updated header with stats from /stats endpoint
  src/layouts/components/Header.tsx
Labels: area/layouts, kind/feature

#119 Bump docker-compose.yml
  docker-compose.yml
Labels: kind/dependencies

#120 added font-family and updated UI to match design
  package-lock.json
  package.json
  src/layouts/components/Header.tsx
  src/styles/globals.css
  tailwind.config.js
Labels: area/layouts, area/styles, kind/fix

#121 Initial `/prices` page implementation
  src/cms/oracles/index.ts
  src/cms/prices/images/tesla.png
  src/cms/prices/index.ts
  src/components/prices/PriceFeed.tsx
  src/pages/prices.tsx
  src/pages/prices/index.tsx
Labels: kind/feature

#126 Add text and images for oracles and symbols
  src/cms/oracles/images/finnhub.png
  src/cms/oracles/images/iex.png
  src/cms/oracles/images/nasdaq.png
  src/cms/oracles/images/tiingo.png
  src/cms/oracles/index.ts
  src/cms/prices/images/amd.png
  src/cms/prices/images/amzn.png
  src/cms/prices/images/appl.png
  src/cms/prices/images/bco.png
  src/cms/prices/images/coin.png
  src/cms/prices/images/eur.png
  src/cms/prices/images/fb.png
  src/cms/prices/images/gme.png
  src/cms/prices/images/googl.png
  src/cms/prices/images/mstr.png
  src/cms/prices/images/nvda.png
  src/cms/prices/images/otgly.png
  src/cms/prices/images/sgd.png
  src/cms/prices/images/twtr.png
  src/cms/prices/images/uber.png
  src/cms/prices/images/xag.png
  src/cms/prices/images/xau.png
  src/cms/prices/images/xcu.png
  src/cms/prices/index.ts
  src/components/prices/PriceFeed.tsx
  src/pages/prices/index.tsx
Labels: kind/feature

#128 added nextjs-progressbar
  package-lock.json
  package.json
  src/pages/_app.tsx
Labels: kind/feature

#129 removed `useConnectedPlayground()`
  .github/workflows/ci.yml
  README.md
  cypress/integration/layouts/header.spec.ts
  src/layouts/contexts/PlaygroundContext.tsx
  src/layouts/contexts/api/Environment.ts
Labels: area/layouts, area/workflow, kind/refactor

#125 Added `/prices/[symbol].tsx` page
  package-lock.json
  package.json
  src/components/commons/Breadcrumb.tsx
  src/components/prices/PriceFeed.tsx
  src/components/prices/PriceOracleTable.tsx
  src/components/prices/PriceTickerDetail.tsx
  src/pages/index.tsx
  src/pages/prices/[symbol].tsx
  src/pages/prices/index.tsx
  tailwind.config.js
Labels: kind/feature

#130 `ci.yml` to build before running npm run build
  .github/workflows/ci.yml
Labels: kind/chore, area/workflow

#132 Add historical price graph for each ticker for at least 24 hours
  package-lock.json
  package.json
  src/components/prices/PriceGraph.tsx
  src/components/prices/PriceOracleTable.tsx
  src/layouts/components/Header.tsx
  src/layouts/contexts/WhaleContext.tsx
  src/pages/prices/[symbol].tsx
Labels: kind/feature, area/layouts

#123 Added social Links in footer
  src/layouts/components/Footer.tsx
Labels: kind/feature, area/layouts

#133 Add urls to provider feeds
  src/cms/oracles/index.ts
  src/pages/prices/index.tsx
Labels: kind/feature

#134 Added HSTS and updated _redirects to include http://
  _redirects
  netlify.toml
Labels: kind/chore

#135 fixed responsive sizing issues
  src/layouts/Default.tsx
  src/layouts/components/Footer.tsx
  src/styles/globals.css
Labels: kind/fix, area/styles, area/layouts

#139 fixed too much data causes chart not to rendered properly
  src/components/prices/PriceGraph.tsx
Labels: kind/fix

#140 Breadcrumb.tsx will now interpolate SEO metadata
  .eslintrc
  .idea/inspectionProfiles/Project_Default.xml
  package-lock.json
  package.json
  src/components/commons/Breadcrumb.tsx
  src/components/commons/Head.tsx
  src/layouts/Default.tsx
  src/pages/404.tsx
  src/pages/prices/[symbol].tsx
  src/pages/prices/index.tsx
Labels: kind/feature, area/layouts

#141 Bump whale:0.8.6 in docker-compose.yml
  docker-compose.yml
Labels: kind/dependencies

#143 added hover popover, for `<PriceFeed/>` in `/prices` and within each individual price detail page
  package-lock.json
  package.json
  src/components/commons/popover/HoverPopover.tsx
  src/components/prices/PriceFeed.tsx
  src/components/prices/PriceGraph.tsx
  src/components/prices/PriceTickerDetail.tsx
Labels: kind/feature

#144 default cypress to always test on MainNet
  cypress/integration/layouts/header.spec.ts
  cypress/support/index.ts
Labels: kind/chore

#145 Refactor /src/cms to /content
  README.md
  content/oracles/images/finnhub.png
  content/oracles/images/iex.png
  content/oracles/images/nasdaq.png
  content/oracles/images/tiingo.png
  content/oracles/index.ts
  content/prices/images/amd.png
  content/prices/images/amzn.png
  content/prices/images/appl.png
  content/prices/images/bco.png
  content/prices/images/coin.png
  content/prices/images/eur.png
  content/prices/images/fb.png
  content/prices/images/gme.png
  content/prices/images/googl.png
  content/prices/images/mstr.png
  content/prices/images/nvda.png
  content/prices/images/otgly.png
  content/prices/images/sgd.png
  content/prices/images/tesla.png
  content/prices/images/twtr.png
  content/prices/images/uber.png
  content/prices/images/xag.png
  content/prices/images/xau.png
  content/prices/images/xcu.png
  content/prices/index.ts
  src/components/prices/PriceFeed.tsx
  src/components/prices/PriceTickerDetail.tsx
  src/pages/prices/[symbol].tsx
  src/pages/prices/index.tsx
  tsconfig.json
Labels: kind/refactor

#146 major refactor to clean up @contexts to use a no `index.ts` structure
  src/components/commons/Link.tsx
  src/components/prices/PriceGraph.tsx
  src/components/prices/PriceOracleTable.tsx
  src/components/prices/PriceTickerDetail.tsx
  src/layouts/Default.tsx
  src/layouts/components/Header.tsx
  src/layouts/contexts/Environment.ts
  src/layouts/contexts/NetworkContext.tsx
  src/layouts/contexts/PlaygroundContext.tsx
  src/layouts/contexts/WhaleContext.tsx
  src/layouts/contexts/api/Environment.ts
  src/layouts/contexts/api/NetworkQuery.tsx
  src/layouts/contexts/index.ts
  src/pages/prices/[symbol].tsx
  src/pages/prices/index.tsx
  src/pages/transactions/[txid].tsx
  tsconfig.json
Labels: kind/refactor, area/transactions, area/layouts

#147 `<Header/>` with Hamburger for Mobile Screen & /store refactor
  .github/dependabot.yml
  src/layouts/Default.tsx
  src/layouts/components/Header.tsx
  src/store/block.ts
  src/store/index.ts
  src/store/stats.tsx
Labels: kind/feature, area/workflow, area/layouts, area/store

#148 Added `/favicon.png`
  public/favicon.png
  src/layouts/Default.tsx
Labels: kind/chore, area/public, area/layouts

#153 fix hide HeaderMenu on mobile before route starts
  src/layouts/components/Header.tsx
Labels: kind/fix, area/layouts

#154 added lint-staged
  .eslintrc
  .husky/pre-commit
  next.config.js
  package-lock.json
  package.json
Labels: kind/chore

#155 `/dex` initial implementation
  package-lock.json
  package.json
  src/components/commons/AdaptiveTable.tsx
  src/components/icons/tokens/IconBCH.tsx
  src/components/icons/tokens/IconBTC.tsx
  src/components/icons/tokens/IconDFI.tsx
  src/components/icons/tokens/IconDOGE.tsx
  src/components/icons/tokens/IconDefault.tsx
  src/components/icons/tokens/IconETH.tsx
  src/components/icons/tokens/IconLTC.tsx
  src/components/icons/tokens/IconUSDC.tsx
  src/components/icons/tokens/IconUSDT.tsx
  src/components/icons/tokens/IconUTXO.tsx
  src/components/icons/tokens/index.ts
  src/layouts/components/Footer.tsx
  src/layouts/components/Header.tsx
  src/pages/dex/index.tsx
Labels: kind/feature, area/dex, area/layouts

#160 removed suffix USD to prefix $
  src/components/commons/Head.tsx
  src/layouts/components/Header.tsx
  src/pages/dex/index.tsx
Labels: kind/chore, area/dex, area/layouts

#165 Crypto assets and descriptions
  content/prices/images/bch.png
  content/prices/images/btc.png
  content/prices/images/dfi.png
  content/prices/images/doge.png
  content/prices/images/eth.png
  content/prices/images/ltc.png
  content/prices/images/usdc.png
  content/prices/images/usdt.png
  content/prices/index.ts
  package.json
Labels: kind/chore

#168 Added APR HoverPopover
  .github/CODEOWNERS
  .idea/dictionaries/fuxing.xml
  src/components/commons/popover/HoverPopover.tsx
  src/layouts/components/Header.tsx
  src/pages/dex/index.tsx
Labels: kind/chore, area/workflow, area/dex, area/layouts

#169 Redux Store is now cached on client side on SSR it will be hydrated over
  src/layouts/Default.tsx
  src/layouts/contexts/StoreProvider.tsx
  src/pages/_app.tsx
  src/store/index.ts
  src/store/stats.tsx
Labels: kind/refactor, area/layouts, area/store

#170 Added CursorPagination for LSM index querying
  .eslintrc
  src/components/commons/CursorPagination.tsx
  src/pages/dex/index.tsx
Labels: kind/feature, area/dex

#174 `/` to redirect to `/prices` instead
  cypress/integration/layouts/header.spec.ts
  cypress/integration/routing/network_query.spec.ts
  src/pages/index.tsx
Labels: kind/chore

#179 Refactor <Link> children to use <a> to take advantage of native linking
  src/components/commons/Breadcrumb.tsx
  src/components/commons/CursorPagination.tsx
  src/components/commons/Link.tsx
  src/components/prices/PriceFeed.tsx
  src/layouts/components/Footer.tsx
  src/layouts/components/Header.tsx
Labels: kind/fix, area/layouts

#180 added -rpcworkqueue=512 to docker-compose.yml
  docker-compose.yml
Labels: kind/fix

#181 add parallel test for `ci-e2e.yml`
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
Labels: kind/chore, area/workflow

#182 Bump `playground:0.8.6` & `whale:0.8.9` in docker-compose.yml
  docker-compose.yml
Labels: kind/dependencies

#185 ci.yml and ci-e2e.yml to always run on push main and '0 1 * * *'
  .github/workflows/ci-e2e.yml
Labels: kind/chore, area/workflow

#188 updated eslint to ignore cypress dir
  .eslintrc
Labels: kind/chore

#187 added e2e tests for `/prices`
  cypress/integration/pages/prices-[symbol].spec.ts
  cypress/integration/pages/prices.spec.ts
  src/components/commons/Breadcrumb.tsx
  src/components/prices/PriceFeed.tsx
  src/components/prices/PriceOracleTable.tsx
  src/components/prices/PriceTickerDetail.tsx
Labels: kind/chore

#190 added `.imgbotconfig` to ignore cypress image snapshot
  .imgbotconfig
Labels: kind/chore

#191 added github workflow concurrency to cancel-in-progress
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
Labels: kind/chore, area/workflow

#193 minor sanity refactoring for cypress and `icons/assets`
  cypress.json
  src/components/icons/assets/_Default.tsx
  src/components/icons/assets/index.ts
Labels: kind/refactor

#192 `/tokens` page refactor
  cypress/integration/pages/tokens/tokens.spec.ts
  src/components/commons/AdaptiveTable.tsx
  src/components/commons/CursorPagination.tsx
  src/pages/tokens/index.tsx
Labels: kind/refactor, area/tokens

#156 `/tokens` page
  cypress/integration/pages/tokens/tokens.spec.ts
  src/components/commons/AdaptiveTable.tsx
  src/components/commons/CursorPagination.tsx
  src/layouts/components/Footer.tsx
  src/layouts/components/Header.tsx
  src/pages/tokens/index.tsx
Labels: kind/feature, area/tokens, area/layouts

#195 add classNames utility
  package-lock.json
  package.json
  src/components/commons/AdaptiveTable.tsx
Labels: kind/chore

#197 Cherry-picked UnitSuffix.tsx and OverflowTable.tsx from `/blocks`
  src/components/commons/OverflowTable.tsx
  src/components/commons/UnitSuffix.tsx
Labels: kind/feature

#198 rename "Default Defi token" to "DeFiChain" in `/tokens`
  src/pages/tokens/index.tsx
Labels: kind/refactor, area/tokens

#78 `/blocks` page
  cypress/integration/pages/blocks/index.spec.ts
  src/layouts/components/Footer.tsx
  src/layouts/components/Header.tsx
  src/pages/blocks/index.tsx
  src/pages/tokens/index.tsx
Labels: kind/feature, area/tokens, area/blocks, area/layouts

#205 refactor `/prices` to fix flaky tests
  cypress/integration/pages/prices/prices-[symbol].spec.ts
  cypress/integration/pages/prices/prices.spec.ts
Labels: kind/refactor

#208 added interceptServerSideWait to fix flaky page load test
  cypress/integration/pages/blocks/index.spec.ts
  cypress/integration/pages/prices/prices.spec.ts
  cypress/integration/pages/tokens/tokens.spec.ts
  cypress/integration/routing/network_query.spec.ts
  cypress/support/commands.ts
Labels: kind/fix

#206 E2E test for mobile /tokens
  cypress/integration/pages/tokens/tokens.spec.ts
Labels: kind/feature

#225 Fix blocks page table using an input for size
  src/pages/blocks/index.tsx
Labels: kind/fix, area/blocks

#227 updated eslint to match wallet eslint rules
  .editorconfig
  .eslintrc
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/inspectionProfiles/Project_Default.xml
Labels: kind/refactor

#229 added next-sitemap
  next-sitemap.js
  package-lock.json
  package.json
Labels: kind/chore

#230 developer checklist
  .github/PULL_REQUEST_TEMPLATE.md
Labels: kind/docs, area/workflow

#231 moved developer checklist down so that important description appear above
  .github/PULL_REQUEST_TEMPLATE.md
Labels: kind/chore, area/workflow
