Repository BirthdayResearch/defiscan.live, pull requests merged in 2021-09, with the labels that each got.

#248 fixed B/A wrong display on /dex
  src/pages/dex/index.tsx
Labels: kind/fix, area/dex

#249 icons refactor and fixes
  .idea/dictionaries/fuxing.xml
  src/components/icons/assets/BTC.tsx
  src/components/icons/assets/DFI.tsx
  src/components/icons/assets/_Default.tsx
  src/components/icons/assets/dBCH.tsx
  src/components/icons/assets/dBTC.tsx
  src/components/icons/assets/dDFI.tsx
  src/components/icons/assets/dDOGE.tsx
  src/components/icons/assets/dETH.tsx
  src/components/icons/assets/dLTC.tsx
  src/components/icons/assets/dUSDC.tsx
  src/components/icons/assets/dUSDT.tsx
Labels: kind/refactor

#250 refactor tokens details
  .idea/codeStyles/Project.xml
  .idea/inspectionProfiles/Project_Default.xml
  cypress/integration/pages/tokens/tokens-[symbol].spec.ts
  src/components/commons/AdaptiveList.tsx
  src/components/dex/PoolPairs.tsx
  src/pages/dex/index.tsx
  src/pages/tokens/[id].tsx
  src/pages/tokens/index.tsx
  tailwind.config.js
Labels: kind/fix, area/tokens, area/dex

#211 /tokens/:id
  .idea/codeStyles/Project.xml
  .idea/inspectionProfiles/Project_Default.xml
  cypress/integration/pages/tokens/tokens-[symbol].spec.ts
  src/components/commons/AdaptiveList.tsx
  src/components/dex/PoolPairs.tsx
  src/pages/dex/index.tsx
  src/pages/tokens/[id].tsx
  src/pages/tokens/index.tsx
  tailwind.config.js
Labels: kind/feature, area/tokens, area/dex

#257 Added Netlify Open Source Icon
  src/layouts/components/Footer.tsx
Labels: kind/chore, area/layouts

#258 added Container.tsx that has been recently added to DeFi Scan DSM
  src/components/commons/Container.tsx
  src/layouts/components/Footer.tsx
  src/layouts/components/Header.tsx
  src/pages/404.tsx
  src/pages/_app.tsx
  src/pages/blocks/index.tsx
  src/pages/dex/index.tsx
  src/pages/masternodes/index.tsx
  src/pages/prices/[symbol].tsx
  src/pages/prices/index.tsx
  src/pages/tokens/[id].tsx
  src/pages/tokens/index.tsx
  src/pages/transactions/[txid].tsx
Labels: kind/refactor, area/transactions, area/masternodes, area/tokens, area/dex, area/blocks, area/layouts

#259 Updated tailwind and all components to match the latest design
  src/components/commons/AdaptiveList.tsx
  src/components/commons/AdaptiveTable.tsx
  src/components/commons/Breadcrumb.tsx
  src/components/commons/CursorPagination.tsx
  src/components/commons/OverflowTable.tsx
  src/components/dex/PoolPairs.tsx
  src/components/prices/PriceFeed.tsx
  src/components/prices/PriceFeedBySection.tsx
  src/layouts/components/Footer.tsx
  src/layouts/components/Header.tsx
  src/pages/blocks/index.tsx
  src/pages/dex/index.tsx
  src/pages/masternodes/index.tsx
  src/pages/prices/index.tsx
  src/pages/tokens/index.tsx
  tailwind.config.js
Labels: kind/chore, area/masternodes, area/tokens, area/dex, area/blocks, area/layouts

#253 Appended ID to DST tokens name
  src/pages/tokens/[id].tsx
  src/pages/tokens/index.tsx
Labels: kind/feature, area/tokens

#213 `/blocks/:id` page
  cypress/integration/pages/blocks/[blockId].spec.ts
  package.json
  src/components/commons/AdaptiveList.tsx
  src/components/commons/CopyButton.tsx
  src/pages/blocks/[blockId]/index.tsx
  src/pages/blocks/index.tsx
  tailwind.config.js
Labels: kind/feature, area/blocks

#273 added eslint for cypress
  .eslintrc
  .github/workflows/ci.yml
  .idea/dictionaries/fuxing.xml
  content/oracles/images/tiingo.svg
  content/oracles/index.ts
  cypress/.eslintrc
  cypress/integration/pages/blocks/[blockId].spec.ts
  cypress/integration/pages/masternodes/masternodes.spec.ts
  cypress/integration/pages/prices/prices-[symbol].spec.ts
  cypress/integration/pages/prices/prices.spec.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
  src/components/commons/Breadcrumb.tsx
  src/components/commons/Head.tsx
  src/components/commons/popover/HoverPopover.tsx
  src/components/icons/NetlifyLightLogo.tsx
  src/components/prices/PriceOracleTable.tsx
  src/components/prices/PriceTickerDetail.tsx
  src/layouts/components/Footer.tsx
  src/layouts/components/Header.tsx
  src/layouts/contexts/WhaleContext.tsx
  src/pages/blocks/index.tsx
Labels: kind/chore, area/workflow, area/blocks, area/layouts

#274 Image assets for oracle providers
  content/oracles/images/cmc.png
  content/oracles/images/coingecko.png
  content/oracles/images/defichain.png
  content/oracles/images/finnhub.png
  content/oracles/index.ts
Labels: kind/chore

#278 Updated DeFi DEX logo
  content/oracles/images/cmc.png
  content/oracles/images/coingecko.png
  content/oracles/images/defichain.png
  content/oracles/images/finnhub.png
  content/oracles/images/iex.png
  content/oracles/images/nasdaq.png
Labels: kind/feature

#281 cypress: `npm run start` instead of `npm run dev`
  .github/workflows/ci-e2e.yml
Labels: kind/fix, area/workflow

#291 fixed next-sitemap.js generate to disallow other networks
  next-sitemap.js
  public/robots.txt
Labels: kind/fix, area/public

#292 fixed pool pair price ratio display
  src/components/dex/PoolPairs.tsx
Labels: kind/fix

#294 Removed spinner from Nprogressbar
  src/pages/_app.tsx
Labels: kind/fix, area/ui-ux

#307 Updated CODEOWNERS to include @joeldavidw
  .github/CODEOWNERS
Labels: kind/chore, area/workflow

#308 fixed oss-governance-project-pr.yml
  .github/workflows/oss-governance-project-pr.yml
Labels: kind/chore, area/workflow

#293 refactor transaction page
  .idea/dictionaries/fuxing.xml
  src/pages/blocks/[blockId]/index.tsx
  src/pages/transactions/[txid].tsx
Labels: kind/refactor, area/transactions, area/blocks

#309 Fixed margin and text alignment in cells
  src/components/prices/PriceOracleTable.tsx
Labels: kind/fix

#265 Converted OracleFeed to use Overflow table.
  cypress/integration/pages/prices/prices-[symbol].spec.ts
  src/components/prices/PriceOracleTable.tsx
Labels: kind/feature

#312 Fixed responsiveness issue on block/:id page
  src/components/commons/CopyButton.tsx
  src/pages/blocks/[blockId]/index.tsx
Labels: kind/fix, area/blocks

#311 Show active nav link on header
  src/layouts/components/Header.tsx
Labels: kind/fix, area/layouts

#316 remove TS Standard badge
  README.md
Labels: kind/chore

#315 Fixed footer
  src/layouts/components/Footer.tsx
Labels: kind/fix, area/layouts

#319 Bump @defichain/playground dependencies
  docker-compose.yml
  package-lock.json
  package.json
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/dependencies, area/layouts

#330 set dependabot update schedule to daily from weekly to further shift left deps update timeline
  .github/dependabot.yml
Labels: kind/chore, area/workflow
