Repository BirthdayResearch/defiscan.live, pull requests merged in 2021-12, with the labels that each got.

#667 remove oss-governance-project workflow we don't use them anymore
  .github/workflows/oss-governance-project-issue.yml
  .github/workflows/oss-governance-project-pr.yml
Labels: kind/chore, area/workflow

#672 add SEO tags for pages
  src/pages/address/[address].tsx
  src/pages/tokens/[id].tsx
  src/pages/transactions/[txid].tsx
  src/pages/vaults/[vaultid].tsx
  src/pages/vaults/index.tsx
Labels: kind/chore, area/transactions, area/tokens, area/vaults, area/address

#674 Fixed balances table on `Address` page
  cypress/integration/pages/address/[address].spec.ts
  cypress/integration/pages/vaults/[vaultid].spec.ts
  src/components/address/[address]/AddressTokenTable.tsx
  src/components/address/[address]/AddressTransactionTable.tsx
Labels: kind/fix

#680 Fixed address test
  cypress/integration/pages/address/[address].spec.ts
Labels: kind/fix

#621 `homepage` Blocks and Transaction UI updates
  cypress/integration/pages/index.spec.ts
  src/components/commons/CollapsibleSection.tsx
  src/components/index/BlocksList.tsx
  src/components/index/TransactionsList.tsx
  src/components/vaults/[vaultid]/VaultIdAuctionsDetails.tsx
  src/components/vaults/[vaultid]/VaultIdCollateralDetails.tsx
  src/components/vaults/[vaultid]/VaultIdDetails.tsx
  src/components/vaults/[vaultid]/VaultIdLoansDetails.tsx
  src/pages/index.tsx
Labels: kind/feature, area/core

#638 Homepage Redesign: Liquidity section
  src/components/index/LiquidityPoolList.tsx
Labels: kind/feature

#679 `index` New hero background
  public/assets/hero/fortcanning.svg
  src/components/commons/SearchBar.tsx
  src/components/index/IndexHeader.tsx
  src/pages/index.tsx
Labels: kind/feature, area/public

#682 Fixed tests and layout
  cypress/integration/pages/transactions/DfTx/AccountToAccount.spec.ts
  cypress/integration/pages/transactions/DfTx/PoolRemoveLiquidity.spec.ts
  src/components/transactions/[txid]/DfTx/DfTxAccountToAccount.tsx
Labels: kind/fix

#683 Updated test due to change in wallet balances
  cypress/integration/pages/address/[address].spec.ts
Labels: kind/fix

#685 Fixed TokenSymbol Component token symbol placement
  src/components/commons/TokenSymbol.tsx
  src/components/transactions/[txid]/DfTx/DfTxCompositeSwap.tsx
Labels: kind/feature

#689 APR on front-end
  src/components/dex/PoolPairs.tsx
Labels: kind/fix

#690 Added APR calculation on the frontend
  src/components/dex/PoolPairs.tsx
  src/components/index/LiquidityPoolList.tsx
Labels: kind/fix

#670 Added Auction details page
  cypress/integration/layouts/header.spec.ts
  cypress/integration/pages/vaults/index.spec.ts
  src/components/commons/sections/CollapsibleSection.tsx
  src/components/commons/sections/EmptySection.tsx
  src/components/index/BlocksList.tsx
  src/components/index/TransactionsList.tsx
  src/components/vaults/VaultMobileCard.tsx
  src/components/vaults/[vaultid]/VaultIdAuctionsDetails.tsx
  src/components/vaults/[vaultid]/VaultIdCollateralDetails.tsx
  src/components/vaults/[vaultid]/VaultIdDetails.tsx
  src/components/vaults/[vaultid]/VaultIdLoansDetails.tsx
  src/components/vaults/[vaultid]/auctions/AuctionDetails.tsx
  src/components/vaults/[vaultid]/auctions/AuctionDetailsHeading.tsx
  src/components/vaults/common/VaultAuctionDetails.tsx
  src/components/vaults/common/VaultTokenSymbols.tsx
  src/hooks/useAuctionTimeLeft.tsx
  src/layouts/components/Header.tsx
  src/pages/auctions/index.tsx
  src/pages/vaults/[vaultid]/auctions/[index].tsx
  src/pages/vaults/[vaultid]/index.tsx
  src/pages/vaults/index.tsx
  src/utils/vaults/CalculateCollateralsValue.tsx
Labels: kind/feature, area/layouts, area/vaults

#696 Removed APR hotfix
  src/components/dex/PoolPairs.tsx
  src/components/index/LiquidityPoolList.tsx
Labels: kind/chore

#700 Updated nextjs and eslint-config-next to 12.0.7
  package-lock.json
  package.json
Labels: kind/chore

#701 bump testnet to use v0.17
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/dependencies, area/layouts

#703 `auctions` Add USD values to bid amount
  src/components/auctions/commons/AuctionTimeLeft.tsx
  src/components/auctions/commons/BidAmountValue.tsx
  src/components/commons/OverflowTable.tsx
  src/components/vaults/[vaultid]/VaultIdAuctionsDetails.tsx
  src/components/vaults/[vaultid]/auctions/AuctionDetails.tsx
  src/components/vaults/common/VaultAuctionDetails.tsx
  src/components/vaults/common/VaultDetailsListItem.tsx
  src/hooks/useAuctionTimeLeft.tsx
  src/pages/auctions/index.tsx
  src/pages/vaults/[vaultid]/auctions/[index].tsx
Labels: kind/feature, area/vaults

#686 Leo/take loan
  cypress/integration/pages/transactions/DfTx/TakeLoan.spec.ts
  src/components/commons/AdaptiveTable.tsx
  src/components/transactions/[txid]/DfTx/DfTxTakeLoan.tsx
  src/components/transactions/[txid]/TransactionDfTx.tsx
Labels: needs/kind

#684 `DfTxPayBackLoan`
  cypress/integration/pages/transactions/DfTx/PayBackLoan.spec.ts
  src/components/transactions/[txid]/DfTx/DfTxPayBackLoan.tsx
  src/components/transactions/[txid]/TransactionDfTx.tsx
Labels: kind/feature

#708 Added PlaceAuctionBid DfTx with test
  cypress/integration/pages/transactions/DfTx/PlaceAuctionBid.spec.ts
  src/components/transactions/[txid]/DfTx/DfTxPlaceAuctionBid.tsx
  src/components/transactions/[txid]/TransactionDfTx.tsx
Labels: kind/feature

#711 Remove notice banner
  src/pages/_app.tsx
Labels: kind/chore

#716 Update to tailwindcss 3.0.0
  package-lock.json
  package.json
Labels: kind/dependencies

#709 Homepage props autorefresh
  next-env.d.ts
  src/pages/index.tsx
Labels: kind/feature

#707 Siradji/vaults page update
  cypress/integration/pages/vaults/index.spec.ts
  src/components/vaults/common/VaultCollateralizationRatio.tsx
  src/pages/vaults/index.tsx
Labels: kind/feature, area/vaults

#723 Migration from tailwindcss v2 to v3
  src/styles/globals.css
  tailwind.config.js
Labels: kind/chore, area/styles

#724 Added `WithdrawFromVault` DfTx with tests
  cypress/integration/pages/transactions/DfTx/WithdrawFromVault.ts
  src/components/transactions/[txid]/DfTx/DfTxWithdrawFromVault.tsx
  src/components/transactions/[txid]/TransactionDfTx.tsx
Labels: kind/feature

#730 Revert tailwind to v2
  package.json
  src/styles/globals.css
  tailwind.config.js
Labels: kind/fix, area/styles

#731 Fixed misspelled collateralization and added to intellij dictionary
  .idea/dictionaries/joeldavid.xml
  src/components/vaults/common/VaultHealthBar.tsx
Labels: kind/fix

#718 Updated Vaults Stasbar label
  cypress/integration/pages/vaults/index.spec.ts
  src/components/commons/stats/StatItem.tsx
  src/components/vaults/VaultStatsBar.tsx
Labels: kind/feature

#722 Implemented custom page extension
  .eslintrc
  next.config.js
  src/layouts/Default.tsx
  src/pages/404.page.tsx
  src/pages/_app.page.tsx
  src/pages/address/[address].page.tsx
  src/pages/auctions/index.page.tsx
  src/pages/blocks/[blockId]/index.page.tsx
  src/pages/blocks/index.page.tsx
  src/pages/dex/index.page.tsx
  src/pages/index.page.tsx
  src/pages/masternodes/index.page.tsx
  src/pages/oracles/[symbol].page.tsx
  src/pages/oracles/index.page.tsx
  src/pages/tokens/[id].page.tsx
  src/pages/tokens/index.page.tsx
  src/pages/transactions/[txid].page.tsx
  src/pages/tx/[txid].page.tsx
  src/pages/vaults/[vaultid]/auctions/[index].page.tsx
  src/pages/vaults/[vaultid]/index.page.tsx
  src/pages/vaults/index.page.tsx
Labels: kind/chore, area/transactions, area/masternodes, area/oracles, area/tokens, area/dex, area/blocks, area/layouts, area/vaults, area/address

#744 `Footer` Added discord link and updated ui
  cypress/integration/layouts/footer.spec.ts
  src/layouts/components/Footer.tsx
Labels: kind/fix, area/layouts

#753 Bump WhaleApiClient to use v0.18
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/dependencies, area/layouts

#754 list all token balance for address
  src/pages/address/_components/AddressTokenTable.tsx
Labels: kind/chore, area/address

#766 Updated netlify headers
  netlify.toml
  next.config.js
  public/_headers
  public/_redirects
Labels: kind/fix, area/public

#764 Updated `address` Balances UI
  cypress/integration/pages/address/[address].spec.ts
  src/components/commons/sections/CollapsibleSection.tsx
  src/components/commons/sections/EmptySection.tsx
  src/pages/address/[address].page.tsx
  src/pages/address/_components/AddressBalances.tsx
  src/pages/address/_components/AddressTokenTable.tsx
  src/pages/address/_components/AddressTransactionTable.tsx
Labels: kind/feature, area/address

#767 Added @netlify/plugin-nextjs to netlify.toml and package.json
  netlify.toml
  package-lock.json
  package.json
Labels: kind/dependencies

#772 Fix image (data:) not loading due to CSP rules
  next.config.js
  public/_headers
Labels: kind/fix, area/public

#771 Implemented `vaults` section in `address` page
  cypress/integration/pages/address/[address].spec.ts
  src/pages/address/[address].page.tsx
  src/pages/address/_components/AddressBalances.tsx
  src/pages/address/_components/AddressHeadings.tsx
  src/pages/address/_components/AddressTransactionTable.tsx
  src/pages/address/_components/AddressVaults.tsx
  src/pages/address/_components/ShowMoreButton.tsx
  src/pages/vaults/[vaultid]/_components/VaultIdDetails.tsx
  src/pages/vaults/_components/VaultMobileCard.tsx
  src/pages/vaults/_components/commons/VaultCollateralizationRatio.tsx
  src/pages/vaults/_components/commons/VaultNumberValues.tsx
  src/pages/vaults/_components/commons/VaultTable.tsx
  src/pages/vaults/_components/commons/VaultTableRow.tsx
  src/pages/vaults/_components/commons/VaultTokenSymbols.tsx
  src/pages/vaults/index.page.tsx
  src/pages/vaults/utils/LiquidatedVaultDerivedValues.tsx
Labels: kind/refactor, area/vaults, area/address

#770 Removed duplicate icons on vaults page
  src/pages/vaults/_components/commons/VaultTokenSymbols.tsx
Labels: kind/fix, area/vaults

#776 Added undefined check
  src/pages/vaults/_components/commons/VaultTokenSymbols.tsx
Labels: kind/fix, area/vaults

#775 Added prefetch-src
  next.config.js
  public/_headers
Labels: kind/fix, area/public

#777 Fixed Signal 1 & 2 svg
  src/components/icons/assets/signal/SignalCellular1.tsx
  src/components/icons/assets/signal/SignalCellular2.tsx
Labels: kind/fix

#778 `homepage` redesign
  cypress/integration/pages/address/[address].spec.ts
  cypress/integration/pages/index.spec.ts
  cypress/integration/pages/vaults/[vaultid].spec.ts
  src/components/commons/PoolPairSymbol.tsx
  src/components/commons/sections/CollapsibleSection.tsx
  src/components/index/BlocksList.tsx
  src/components/index/LiquidityPoolList.tsx
  src/components/index/TransactionsList.tsx
  src/pages/index.page.tsx
Labels: kind/fix

#780 Added `vaults` & `auctions` test
  cypress/integration/pages/auctions/index.spec.ts
  cypress/integration/pages/vaults/[vaultid]/auctions/[index].spec.ts
  cypress/integration/pages/vaults/[vaultid]/index-InLiquidation.spec.ts
  cypress/integration/pages/vaults/[vaultid]/index.spec.ts
  src/pages/auctions/_components/commons/AuctionTimeLeft.tsx
  src/pages/auctions/_components/commons/BidAmountValue.tsx
  src/pages/vaults/[vaultid]/_components/VaultIdAuctionsDetails.tsx
  src/pages/vaults/[vaultid]/_components/VaultIdDetails.tsx
  src/pages/vaults/[vaultid]/auctions/[index].page.tsx
  src/pages/vaults/[vaultid]/auctions/_components/AuctionDetails.tsx
  src/pages/vaults/[vaultid]/auctions/_components/DesktopAuctionDetails.tsx
  src/pages/vaults/[vaultid]/auctions/_components/MobileAuctionDetails.tsx
  src/pages/vaults/_components/commons/VaultAuctionDetails.tsx
  src/pages/vaults/_components/commons/VaultDetailsListItem.tsx
  src/pages/vaults/_components/commons/VaultHealthBar.tsx
  src/pages/vaults/_components/commons/VaultNumberValues.tsx
  src/pages/vaults/_components/commons/VaultTokenSymbols.tsx
Labels: kind/feature, area/vaults
