Repository BirthdayResearch/defiscan.live, pull requests merged in 2021-11, with the labels that each got.

#509 updated token icon in /tokens & /address to match wallet display
  cypress/integration/pages/tokens/tokens.spec.ts
  src/components/address/[address]/AddressTokenTable.tsx
  src/pages/tokens/[id].tsx
  src/pages/tokens/index.tsx
Labels: kind/refactor, area/tokens

#477 update price ticker details
  content/prices/images/ark.png
  content/prices/images/baba.png
  content/prices/images/byddf.png
  content/prices/images/direxion.png
  content/prices/images/dis.png
  content/prices/images/glo.png
  content/prices/images/intc.png
  content/prices/images/invesco.png
  content/prices/images/ishares.png
  content/prices/images/krbn.png
  content/prices/images/lzagy.png
  content/prices/images/ma.png
  content/prices/images/mara.png
  content/prices/images/msft.png
  content/prices/images/nestle.png
  content/prices/images/nflx.png
  content/prices/images/nintendo.png
  content/prices/images/nllsf.png
  content/prices/images/pltr.png
  content/prices/images/proshares.png
  content/prices/images/pypl.png
  content/prices/images/rblx.png
  content/prices/images/riot.png
  content/prices/images/sedg.png
  content/prices/images/si.png
  content/prices/images/snap.png
  content/prices/images/spy.png
  content/prices/images/sq.png
  content/prices/images/sqnxf.png
  content/prices/images/tcehy.png
  content/prices/images/tlry.png
  content/prices/images/ttwo.png
  content/prices/images/uipath.png
  content/prices/images/unity.png
  content/prices/images/vanguard.png
  content/prices/images/visa.png
  content/prices/images/voo.png
  content/prices/index.ts
Labels: kind/feature

#518 Make blocks and transactions list change color on hover on homepage
  src/components/index/BlocksList.tsx
  src/components/index/TransactionsList.tsx
Labels: kind/feature, area/ui-ux

#515 Strip data-testid from prod build
  babel.config.js
  package-lock.json
  package.json
Labels: kind/chore

#510 Make all addresses clickable using generic address link component
  cypress/integration/pages/blocks/[blockId].spec.ts
  cypress/integration/pages/transactions/DfTx/AccountToAccount.spec.ts
  cypress/integration/pages/transactions/DfTx/AccountToUtxos.spec.ts
  cypress/integration/pages/transactions/DfTx/AnyAccountToAccount.spec.ts
  cypress/integration/pages/transactions/DfTx/AppointOracle.spec.ts
  cypress/integration/pages/transactions/DfTx/CreateMasternode.spec.ts
  cypress/integration/pages/transactions/DfTx/ICXCreateOrder.spec.ts
  cypress/integration/pages/transactions/DfTx/ICXMakeOffer.spec.ts
  cypress/integration/pages/transactions/DfTx/ICXSubmitEXTHTLC.spec.ts
  cypress/integration/pages/transactions/DfTx/PoolAddLiquidity.spec.ts
  cypress/integration/pages/transactions/DfTx/PoolCreatePair.spec.ts
  cypress/integration/pages/transactions/DfTx/PoolRemoveLiquidity.spec.ts
  cypress/integration/pages/transactions/DfTx/PoolSwap.spec.ts
  cypress/integration/pages/transactions/DfTx/UpdateOracle.spec.ts
  cypress/integration/pages/transactions/DfTx/UtxosToAccount.spec.ts
  cypress/integration/pages/transactions/[txid].spec.ts
  src/components/commons/AddressLink.tsx
  src/components/commons/transactions/TransactionVectorRow.tsx
  src/components/transactions/[txid]/DfTx/DfTxAccountToAccount.tsx
  src/components/transactions/[txid]/DfTx/DfTxAccountToUtxos.tsx
  src/components/transactions/[txid]/DfTx/DfTxAnyAccountToAccount.tsx
  src/components/transactions/[txid]/DfTx/DfTxAppointOracle.tsx
  src/components/transactions/[txid]/DfTx/DfTxCreateMasternode.tsx
  src/components/transactions/[txid]/DfTx/DfTxICXCreateOrder.tsx
  src/components/transactions/[txid]/DfTx/DfTxICXMakeOffer.tsx
  src/components/transactions/[txid]/DfTx/DfTxICXSubmitEXTHTLC.tsx
  src/components/transactions/[txid]/DfTx/DfTxPoolAddLiquidity.tsx
  src/components/transactions/[txid]/DfTx/DfTxPoolCreatePair.tsx
  src/components/transactions/[txid]/DfTx/DfTxPoolRemoveLiquidity.tsx
  src/components/transactions/[txid]/DfTx/DfTxPoolSwap.tsx
  src/components/transactions/[txid]/DfTx/DfTxPoolUpdatePair.tsx
  src/components/transactions/[txid]/DfTx/DfTxUpdateOracle.tsx
  src/components/transactions/[txid]/DfTx/DfTxUtxosToAccount.tsx
  src/pages/blocks/[blockId]/index.tsx
  src/pages/masternodes/index.tsx
  src/pages/tokens/[id].tsx
Labels: kind/feature, area/masternodes, area/tokens, area/blocks

#525 Fixed babel config for dev
  babel.config.js
Labels: kind/chore

#526 Added pagination to `/prices`
  src/pages/prices/index.tsx
Labels: kind/feature

#528 Removed underline for homepage
  src/components/index/BlocksList.tsx
  src/components/index/TransactionsList.tsx
Labels: kind/fix

#521 Updated OverflowTable hover state and added alignRight
  src/components/commons/OverflowTable.tsx
Labels: kind/feature

#520 Added InfoHoverPopover
  cypress/integration/pages/prices/prices-[symbol].spec.ts
  src/components/commons/popover/HoverPopover.tsx
  src/components/commons/popover/InfoHoverPopover.tsx
  src/components/prices/PriceTickerDetail.tsx
  src/components/transactions/[txid]/TransactionSummaryTable.tsx
Labels: kind/refactor

#527 Updated searchbar with network context
  src/components/index/IndexHeader.tsx
  src/layouts/components/HeaderSearchBar.tsx
  src/pages/search/[query].tsx
Labels: kind/fix, area/layouts

#516 Added explorer.defichain.io into `_redirects`
  _redirects
Labels: kind/chore

#530 Make transaction links clickable
  cypress/integration/pages/transactions/DfTx/ICXClaimDFCHTLC.spec.ts
  cypress/integration/pages/transactions/DfTx/ICXCloseOffer.spec.ts
  cypress/integration/pages/transactions/DfTx/ICXCloseOrder.spec.ts
  cypress/integration/pages/transactions/DfTx/ICXMakeOffer.spec.ts
  cypress/integration/pages/transactions/DfTx/ICXSubmitDFCHTLC.spec.ts
  cypress/integration/pages/transactions/DfTx/ICXSubmitEXTHTLC.spec.ts
  cypress/integration/pages/transactions/DfTx/TokenUpdateAny.spec.ts
  src/components/address/[address]/AddressTransactionTableRow.tsx
  src/components/commons/OverflowTable.tsx
  src/components/commons/TxIdLink.tsx
  src/components/prices/PriceOracleTable.tsx
  src/components/transactions/[txid]/DfTx/DfTxICXClaimDFCHTLC.tsx
  src/components/transactions/[txid]/DfTx/DfTxICXCloseOffer.tsx
  src/components/transactions/[txid]/DfTx/DfTxICXCloseOrder.tsx
  src/components/transactions/[txid]/DfTx/DfTxICXMakeOffer.tsx
  src/components/transactions/[txid]/DfTx/DfTxICXSubmitDFCHTLC.tsx
  src/components/transactions/[txid]/DfTx/DfTxICXSubmitEXTHTLC.tsx
  src/components/transactions/[txid]/DfTx/DfTxTokenUpdateAny.tsx
  src/pages/tokens/[id].tsx
Labels: kind/refactor, area/tokens

#541 Updated HeaderCountBar and mobile menu
  src/components/commons/popover/HoverPopover.tsx
  src/layouts/components/Header.tsx
  src/layouts/components/HeaderCountBar.tsx
  src/layouts/components/HeaderNetworkMenu.tsx
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/feature, area/layouts

#546 Update progressbar color to be more visible
  src/pages/_app.tsx
Labels: kind/fix

#547 Changed testnet to 'v0.13' and updated jellyfish deps
  package-lock.json
  package.json
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/chore, area/layouts

#548 added .io redirects
  _redirects
Labels: kind/chore

#549 fixed redirect
  _redirects
Labels: kind/chore

#545 Added `/vaults` page
  .github/workflows/ci-e2e.yml
  .idea/dictionaries/fuxing.xml
  cypress/integration/pages/vaults/index.spec.ts
  cypress/tsconfig.json
  docker-compose.yml
  package.json
  src/components/commons/OverflowTable.tsx
  src/components/commons/TextMiddleTruncate.tsx
  src/components/commons/popover/HoverPopover.tsx
  src/components/commons/popover/InfoHoverPopover.tsx
  src/components/vaults/VaultCollateralRatio.tsx
  src/components/vaults/VaultMobileCard.tsx
  src/components/vaults/VaultStatus.tsx
  src/components/vaults/VaultTokenSymbols.tsx
  src/layouts/contexts/Environment.ts
  src/pages/vaults/index.tsx
  tailwind.config.js
Labels: kind/feature, area/workflow, area/layouts, area/vaults

#551 Add network status to the footer
  src/components/commons/popover/HoverPopover.tsx
  src/layouts/components/Footer.tsx
  src/store/stats.tsx
Labels: kind/feature, area/layouts, area/store

#544 Siradji/vaults id page
  cypress/integration/pages/address/[address].spec.ts
  cypress/integration/pages/blocks/[blockId].spec.ts
  cypress/integration/pages/vaults/[vaultid].spec.ts
  src/components/address/[address]/AddressTokenTable.tsx
  src/components/address/[address]/AddressTransactionTable.tsx
  src/components/commons/AddressLink.tsx
  src/components/commons/OverflowTable.tsx
  src/components/commons/popover/HoverPopover.tsx
  src/components/prices/PriceOracleTable.tsx
  src/components/transactions/[txid]/DfTx/DfTxAppointOracle.tsx
  src/components/transactions/[txid]/DfTx/DfTxSetGovernance.tsx
  src/components/transactions/[txid]/DfTx/DfTxUpdateOracle.tsx
  src/components/vaults/[vaultid]/CollateralDetailsTable.tsx
  src/components/vaults/[vaultid]/VaultAuctionsTable.tsx
  src/components/vaults/[vaultid]/VaultCollapsibleSection.tsx
  src/components/vaults/[vaultid]/VaultDetailsTable.tsx
  src/components/vaults/[vaultid]/VaultHeading.tsx
  src/components/vaults/[vaultid]/VaultLoansTable.tsx
  src/pages/blocks/[blockId]/index.tsx
  src/pages/blocks/index.tsx
  src/pages/masternodes/index.tsx
  src/pages/vaults/[vaultid].tsx
  src/pages/vaults/index.tsx
Labels: kind/feature, area/masternodes, area/blocks, area/vaults

#553 Updated mainnet to v0.13
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/chore, area/layouts

#554 `Footer` Minor UI Fix
  src/layouts/components/Footer.tsx
Labels: kind/fix, area/layouts

#556 Updated _redirects
  _redirects
Labels: kind/chore

#552 `vault` related ui changes
  .github/workflows/ci-e2e.yml
  cypress/integration/pages/vaults/[vaultid].spec.ts
  cypress/integration/pages/vaults/index.spec.ts
  src/components/commons/AddressLink.tsx
  src/components/commons/Breadcrumb.tsx
  src/components/commons/OverflowTable.tsx
  src/components/commons/TxIdLink.tsx
  src/components/commons/popover/InfoHoverPopover.tsx
  src/components/vaults/VaultMobileCard.tsx
  src/components/vaults/[vaultid]/CollateralDetailsTable.tsx
  src/components/vaults/[vaultid]/VaultAuctionsTable.tsx
  src/components/vaults/[vaultid]/VaultDetailsTable.tsx
  src/components/vaults/[vaultid]/VaultHeading.tsx
  src/components/vaults/[vaultid]/VaultIdAuctionsDetails.tsx
  src/components/vaults/[vaultid]/VaultIdCollateralDetails.tsx
  src/components/vaults/[vaultid]/VaultIdDetails.tsx
  src/components/vaults/[vaultid]/VaultIdHeading.tsx
  src/components/vaults/[vaultid]/VaultIdLoansDetails.tsx
  src/components/vaults/[vaultid]/VaultLoansTable.tsx
  src/components/vaults/common/VaultCollapsibleSection.tsx
  src/components/vaults/common/VaultCollateralRatio.tsx
  src/components/vaults/common/VaultDetailsListItem.tsx
  src/components/vaults/common/VaultStatus.tsx
  src/components/vaults/common/VaultTokenSymbols.tsx
  src/pages/vaults/[vaultid].tsx
  src/pages/vaults/index.tsx
  tailwind.config.js
Labels: kind/fix, area/workflow, area/vaults

#557 Bump whale to 0.14.1 to support ActivePrice data within LoanToken, CollateralToken, VaultLoanTokenAmount
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/dependencies

#560 `Vaults` UI Fixes
  cypress/integration/pages/vaults/[vaultid].spec.ts
  src/components/vaults/VaultMobileCard.tsx
  src/components/vaults/[vaultid]/VaultIdDetails.tsx
  src/components/vaults/[vaultid]/VaultIdLoansDetails.tsx
  src/components/vaults/common/VaultCollateralRatio.tsx
  src/components/vaults/common/VaultCollateralizationRatio.tsx
  src/pages/vaults/[vaultid].tsx
  src/pages/vaults/index.tsx
Labels: kind/fix, area/vaults

#563 Made Tokens clickable on address page
  src/components/address/[address]/AddressTokenTable.tsx
Labels: kind/feature

#565 `Footer` Versioning update
  src/layouts/components/Footer.tsx
Labels: kind/refactor, area/layouts

#575 fixed address test
  cypress/integration/pages/address/[address].spec.ts
Labels: kind/fix

#564 Updated tokens/:id page
  cypress/integration/pages/tokens/tokens-[symbol].spec.ts
  src/pages/tokens/[id].tsx
Labels: kind/feature, area/tokens

#570 Add active prices to `vaults`
  cypress/integration/pages/vaults/[vaultid].spec.ts
  src/components/vaults/VaultMobileCard.tsx
  src/components/vaults/[vaultid]/LoanTotalInterestRate.tsx
  src/components/vaults/[vaultid]/VaultIdCollateralDetails.tsx
  src/components/vaults/[vaultid]/VaultIdDetails.tsx
  src/components/vaults/[vaultid]/VaultIdLoansDetails.tsx
  src/components/vaults/common/VaultCollateralizationRatio.tsx
  src/components/vaults/common/VaultDetailsListItem.tsx
  src/components/vaults/common/VaultNumberValues.tsx
  src/pages/vaults/[vaultid].tsx
  src/pages/vaults/index.tsx
Labels: kind/feature, area/vaults

#561 Updated progress bar color and size
  src/pages/_app.tsx
Labels: kind/fix

#577 updated dependabot to ignore defichain dependency
  .github/dependabot.yml
  .github/workflows/defichain-dependencies.yml
Labels: kind/dependencies, area/workflow

#576 Add min collateralisation value to `vaults`
  cypress/integration/pages/vaults/index.spec.ts
  src/components/vaults/VaultMobileCard.tsx
  src/components/vaults/[vaultid]/VaultIdDetails.tsx
  src/components/vaults/[vaultid]/VaultIdHeading.tsx
  src/pages/vaults/index.tsx
Labels: kind/feature, area/vaults

#583 UI Fixes for Copy/QR Btn and Vault page
  cypress/integration/pages/vaults/index.spec.ts
  src/components/commons/CopyButton.tsx
  src/components/commons/QRCodeButton.tsx
  src/components/commons/popover/HoverPopover.tsx
  src/components/vaults/VaultMobileCard.tsx
  src/pages/vaults/index.tsx
Labels: kind/fix, area/vaults

#571 Adds categorisation of assets on `Prices` page
  .github/workflows/ci-e2e.yml
  _redirects
  content/prices/index.ts
  cypress/integration/layouts/header.spec.ts
  cypress/integration/pages/oracles/oracles-[symbol].spec.ts
  cypress/integration/pages/oracles/oracles.spec.ts
  cypress/integration/pages/prices/prices.spec.ts
  cypress/integration/pages/search/[searchTerm].spec.ts
  cypress/integration/routing/network_query.spec.ts
  src/components/commons/popover/InfoHoverPopover.tsx
  src/components/oracles/OracleFeed.tsx
  src/components/oracles/OracleGraph.tsx
  src/components/oracles/OracleTable.tsx
  src/components/oracles/OracleTickerDetail.tsx
  src/layouts/components/Footer.tsx
  src/layouts/components/Header.tsx
  src/pages/oracles/[symbol].tsx
  src/pages/oracles/index.tsx
  src/pages/prices/index.tsx
Labels: kind/feature, area/workflow, area/oracles, area/layouts

#588 Added Alt prop to price picker icon
  src/components/oracles/OracleTickerDetail.tsx
Labels: kind/fix

#594 Updated vault page
  cypress/integration/pages/vaults/[vaultid].spec.ts
  src/components/vaults/[vaultid]/VaultIdDetails.tsx
  src/components/vaults/[vaultid]/VaultIdLoansDetails.tsx
Labels: kind/fix

#592 Fixed block 0 page and added BlockLink
  src/components/address/[address]/AddressTokenTable.tsx
  src/components/address/[address]/AddressTransactionTableRow.tsx
  src/components/commons/Breadcrumb.tsx
  src/components/commons/CursorPagination.tsx
  src/components/commons/link/AddressLink.tsx
  src/components/commons/link/BlockLink.tsx
  src/components/commons/link/Link.tsx
  src/components/commons/link/TxIdLink.tsx
  src/components/commons/transactions/TransactionVectorRow.tsx
  src/components/index/BlocksList.tsx
  src/components/index/LiquidityPoolList.tsx
  src/components/index/TransactionsList.tsx
  src/components/oracles/OracleFeed.tsx
  src/components/oracles/OracleTable.tsx
  src/components/transactions/[txid]/DfTx/DfTxAccountToAccount.tsx
  src/components/transactions/[txid]/DfTx/DfTxAccountToUtxos.tsx
  src/components/transactions/[txid]/DfTx/DfTxAnyAccountToAccount.tsx
  src/components/transactions/[txid]/DfTx/DfTxAppointOracle.tsx
  src/components/transactions/[txid]/DfTx/DfTxCreateMasternode.tsx
  src/components/transactions/[txid]/DfTx/DfTxICXClaimDFCHTLC.tsx
  src/components/transactions/[txid]/DfTx/DfTxICXCloseOffer.tsx
  src/components/transactions/[txid]/DfTx/DfTxICXCloseOrder.tsx
  src/components/transactions/[txid]/DfTx/DfTxICXCreateOrder.tsx
  src/components/transactions/[txid]/DfTx/DfTxICXMakeOffer.tsx
  src/components/transactions/[txid]/DfTx/DfTxICXSubmitDFCHTLC.tsx
  src/components/transactions/[txid]/DfTx/DfTxICXSubmitEXTHTLC.tsx
  src/components/transactions/[txid]/DfTx/DfTxPoolAddLiquidity.tsx
  src/components/transactions/[txid]/DfTx/DfTxPoolCreatePair.tsx
  src/components/transactions/[txid]/DfTx/DfTxPoolRemoveLiquidity.tsx
  src/components/transactions/[txid]/DfTx/DfTxPoolSwap.tsx
  src/components/transactions/[txid]/DfTx/DfTxPoolUpdatePair.tsx
  src/components/transactions/[txid]/DfTx/DfTxTokenUpdateAny.tsx
  src/components/transactions/[txid]/DfTx/DfTxUpdateOracle.tsx
  src/components/transactions/[txid]/DfTx/DfTxUtxosToAccount.tsx
  src/components/transactions/[txid]/TransactionSummaryTable.tsx
  src/components/vaults/VaultMobileCard.tsx
  src/components/vaults/[vaultid]/VaultIdDetails.tsx
  src/layouts/components/Footer.tsx
  src/layouts/components/Header.tsx
  src/pages/404.tsx
  src/pages/blocks/[blockId]/index.tsx
  src/pages/blocks/index.tsx
  src/pages/masternodes/index.tsx
  src/pages/tokens/[id].tsx
  src/pages/tokens/index.tsx
  src/pages/vaults/index.tsx
Labels: kind/feature, area/masternodes, area/tokens, area/blocks, area/layouts, area/vaults

#596 Fixed header issue and show shadow only when scrolled
  src/layouts/components/Header.tsx
Labels: kind/feature, area/layouts

#605 PoolPairSymbol first icon to have a higher z-index
  src/components/commons/PoolPairSymbol.tsx
Labels: kind/chore

#606 Updated all gaps in flex to space
  src/components/address/[address]/AddressSummaryTable.tsx
  src/components/address/[address]/AddressTokenTable.tsx
  src/components/address/[address]/AddressTransactionTableRow.tsx
  src/components/address/[address]/AddressVinVout.tsx
  src/components/commons/TokenSymbol.tsx
  src/components/commons/transactions/TransactionVectorRow.tsx
  src/components/index/IndexHeader.tsx
  src/components/oracles/OracleFeed.tsx
  src/components/oracles/OracleTickerDetail.tsx
  src/components/transactions/[txid]/DfTx/DfTxTokenCreate.tsx
  src/components/transactions/[txid]/DfTx/DfTxTokenUpdateAny.tsx
  src/components/transactions/[txid]/TransactionVinVout.tsx
  src/components/vaults/VaultMobileCard.tsx
  src/components/vaults/[vaultid]/VaultIdAuctionsDetails.tsx
  src/components/vaults/[vaultid]/VaultIdCollateralDetails.tsx
  src/components/vaults/[vaultid]/VaultIdDetails.tsx
  src/components/vaults/[vaultid]/VaultIdLoansDetails.tsx
  src/components/vaults/common/VaultDetailsListItem.tsx
  src/components/vaults/common/VaultTokenSymbols.tsx
  src/layouts/components/HeaderCountBar.tsx
  src/pages/oracles/index.tsx
  src/pages/vaults/index.tsx
Labels: kind/fix, area/oracles, area/layouts, area/vaults

#587 DfTxCreateLoanScheme
  cypress/integration/pages/transactions/DfTx/CreateLoanScheme.spec.ts
  src/components/transactions/[txid]/DfTx/DfTxCreateLoanScheme.tsx
  src/components/transactions/[txid]/TransactionDfTx.tsx
Labels: kind/feature

#614 Fixed SetLoanScheme
  cypress/integration/pages/transactions/DfTx/CreateLoanScheme.spec.ts
  cypress/integration/pages/transactions/DfTx/SetLoanScheme.spec.ts
  src/components/transactions/[txid]/DfTx/DfTxSetLoanScheme.tsx
  src/components/transactions/[txid]/TransactionDfTx.tsx
Labels: kind/fix

#599 `DfTxSetCollateralToken`
  cypress/integration/pages/transactions/DfTx/SetCollateralToken.spec.ts
  src/components/transactions/[txid]/DfTx/DfTxSetCollateralToken.tsx
  src/components/transactions/[txid]/TransactionDfTx.tsx
Labels: kind/feature

#600 `DfTxSetDefaultLoanScheme`
  cypress/integration/pages/transactions/DfTx/SetDefaultLoanScheme.spec.ts
  src/components/transactions/[txid]/DfTx/DfTxSetDefaultLoanScheme.tsx
  src/components/transactions/[txid]/TransactionDfTx.tsx
Labels: kind/feature

#601 `DfTxSetLoanToken`
  cypress/integration/pages/transactions/DfTx/SetLoanToken.spec.ts
  src/components/transactions/[txid]/DfTx/DfTxSetLoanToken.tsx
  src/components/transactions/[txid]/TransactionDfTx.tsx
Labels: kind/feature

#602 `DfTxCreateVault`
  cypress/integration/pages/transactions/DfTx/CreateVault.spec.ts
  src/components/transactions/[txid]/DfTx/DfTxCreateVault.tsx
  src/components/transactions/[txid]/TransactionDfTx.tsx
Labels: kind/feature

#603 `DfTxUpdatevault`
  cypress/integration/pages/transactions/DfTx/UpdateVault.spec.ts
  src/components/transactions/[txid]/DfTx/DfTxUpdateVault.tsx
  src/components/transactions/[txid]/TransactionDfTx.tsx
Labels: kind/feature

#617 Updates Stat Bars
  cypress/integration/pages/dex/dex.spec.ts
  cypress/integration/pages/index.spec.ts
  cypress/integration/pages/masternodes/masternodes.spec.ts
  cypress/integration/pages/vaults/index.spec.ts
  src/components/commons/stats/StatItem.tsx
  src/components/commons/stats/StatsBar.tsx
  src/components/index/IndexHeader.tsx
  src/components/vaults/VaultStatsBar.tsx
  src/layouts/components/HeaderCountBar.tsx
  src/layouts/contexts/WhaleContext.tsx
  src/pages/dex/index.tsx
  src/pages/masternodes/index.tsx
  src/pages/vaults/index.tsx
  src/store/stats.tsx
  src/styles/globals.css
  tsconfig.json
Labels: kind/fix, area/styles, area/masternodes, area/dex, area/layouts, area/store, area/vaults

#618 Implement touchstart/end instead on mobile for `HoverPopover`
  src/components/commons/popover/HoverPopover.tsx
  src/components/vaults/VaultMobileCard.tsx
  src/components/vaults/common/VaultDetailsListItem.tsx
Labels: kind/fix

#622 Update testnet to v0.16
  cypress/integration/pages/vaults/[vaultid].spec.ts
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/chore, area/layouts

#608 `Vaults` Update to include derived liquidated vault values
  cypress/integration/pages/vaults/[vaultid].spec.ts
  src/components/vaults/VaultMobileCard.tsx
  src/components/vaults/[vaultid]/VaultIdAuctionsDetails.tsx
  src/components/vaults/[vaultid]/VaultIdDetails.tsx
  src/components/vaults/[vaultid]/VaultIdLoansDetails.tsx
  src/components/vaults/common/VaultCollateralizationRatio.tsx
  src/components/vaults/common/VaultStatus.tsx
  src/pages/vaults/[vaultid].tsx
  src/pages/vaults/index.tsx
  src/utils/vaults/LiquidatedVaultDerivedValues.tsx
Labels: kind/feature, area/vaults

#624 Removed brand logos
  src/components/icons/assets/dAAPL.tsx
  src/components/icons/assets/dAMZN.tsx
  src/components/icons/assets/dCOIN.tsx
  src/components/icons/assets/dFB.tsx
  src/components/icons/assets/dMSFT.tsx
  src/components/icons/assets/dNVDA.tsx
  src/components/icons/assets/dTWTR.tsx
  src/components/icons/assets/index.ts
Labels: kind/chore

#610 siradji/fix/oracle sort component
  src/pages/oracles/index.tsx
Labels: needs/kind, area/oracles

#629 Updated Oracles determination of Loan/Collateral Tokens
  content/prices/index.ts
  cypress/integration/pages/oracles/oracles.spec.ts
  src/components/oracles/OracleFeed.tsx
  src/pages/oracles/index.tsx
Labels: kind/fix, area/oracles

#498 SearchBar update with multi-results capability
  cypress/integration/components/SearchBar.spec.ts
  cypress/integration/pages/index.spec.ts
  cypress/integration/pages/search/[searchTerm].spec.ts
  src/components/commons/SearchBar.tsx
  src/components/commons/link/Link.tsx
  src/components/index/IndexHeader.tsx
  src/layouts/components/Header.tsx
  src/layouts/components/HeaderSearchBar.tsx
  src/pages/search/[query].tsx
Labels: kind/feature, area/layouts, needs/design

#630 Fix search bar icon and update help text
  src/components/commons/SearchBar.tsx
Labels: kind/fix

#584 Added backing address to tokens `USDC USDT BTC BCH ETH DOGE LTC`
  cypress/integration/pages/tokens/tokens-[symbol].spec.ts
  src/components/commons/link/AddressLink.tsx
  src/components/commons/popover/WarningHoverPopover.tsx
  src/pages/tokens/[id].tsx
Labels: kind/feature, area/tokens

#634 bump mainnet to v0.16
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/chore, area/layouts

#635 Added Collateralization Ratio to vaults stats and updated TVL
  src/components/vaults/VaultStatsBar.tsx
  src/layouts/components/HeaderCountBar.tsx
Labels: kind/fix, area/layouts

#633 Added Net Supply and Burned amount in `/tokens/:id`
  cypress/integration/pages/tokens/tokens-[symbol].spec.ts
  src/pages/tokens/[id].tsx
Labels: kind/feature, area/tokens

#636 Fixed `SearchBar` keyboard navigation
  cypress/integration/components/SearchBar.spec.ts
  src/components/commons/SearchBar.tsx
Labels: kind/fix

#640 Revert cypress 9.1.0 to 9.0.0
  package-lock.json
  package.json
Labels: kind/fix

#641 Changed cypress versioning
  package-lock.json
  package.json
Labels: kind/dependencies

#642 Fixed oracle sort buttons layout
  src/pages/oracles/index.tsx
Labels: kind/fix, area/oracles

#646 Removed all middle truncation
  cypress/integration/pages/transactions/DfTx/UpdateVault.spec.ts
  src/components/commons/text/TextMiddleTruncate.tsx
  src/components/commons/text/TextTruncate.tsx
  src/components/transactions/[txid]/DfTx/DfTxUpdateVault.tsx
  src/components/vaults/VaultMobileCard.tsx
  src/components/vaults/[vaultid]/VaultIdDetails.tsx
  src/components/vaults/[vaultid]/VaultIdHeading.tsx
  src/pages/vaults/index.tsx
Labels: kind/fix, area/vaults

#645 `vaults` Added usd prices to In liquidation auction details
  cypress/integration/pages/vaults/[vaultid].spec.ts
  src/components/vaults/[vaultid]/VaultIdAuctionsDetails.tsx
  src/components/vaults/[vaultid]/VaultIdLoansDetails.tsx
Labels: kind/feature

#650 Fixed PoolPairSymbol
  src/components/commons/PoolPairSymbol.tsx
  src/components/dex/PoolPairs.tsx
Labels: kind/fix

#647 Add `DfTxCompositeSwap`
  cypress/integration/pages/address/[address].spec.ts
  cypress/integration/pages/transactions/DfTx/CompositeSwap.spec.ts
  src/components/transactions/[txid]/DfTx/DftxCompositeSwap.tsx
  src/components/transactions/[txid]/TransactionDfTx.tsx
Labels: kind/feature

#652 Update tokensymbol placement
  src/components/commons/AdaptiveList.tsx
  src/components/commons/TokenSymbol.tsx
Labels: kind/fix

#654 Update Path margins
  cypress/integration/pages/transactions/DfTx/CompositeSwap.spec.ts
  src/components/transactions/[txid]/DfTx/DfTxCompositeSwap.tsx
  src/components/transactions/[txid]/TransactionDfTx.tsx
Labels: kind/fix

#648 Adds `DfTxCloseVault`, `DfTxDepositToVault`
  cypress/integration/pages/transactions/DfTx/CloseVault.spec.ts
  cypress/integration/pages/transactions/DfTx/DepositToVault.spec.ts
  src/components/commons/link/VaultLink.tsx
  src/components/transactions/[txid]/DfTx/DfTxCloseVault.tsx
  src/components/transactions/[txid]/DfTx/DfTxDepositToVault.tsx
  src/components/transactions/[txid]/TransactionDfTx.tsx
Labels: kind/feature

#655 Limit LPs on homepage to 8
  src/pages/index.tsx
Labels: kind/chore

#661 Fixed vaultid tests
  cypress/integration/pages/vaults/[vaultid].spec.ts
Labels: kind/fix

#659 Fixed infinite loop on address with no txns
  src/components/address/[address]/AddressTransactionTable.tsx
Labels: kind/fix

#666 Fixed mobile vault link
  src/components/vaults/VaultMobileCard.tsx
Labels: kind/fix
