Repository BirthdayResearch/defiscan.live, pull requests merged in 2021-07, with the labels that each got.

#28 initialize project workflows
  .github/CODEOWNERS
  .github/governance.yml
  .github/labeler.yml
  .github/labels.yml
  .github/release-drafter.yml
  .github/workflows/oss-governance-project-issue.yml
  .github/workflows/release-drafter.yml
  .husky/.gitignore
  .idea/codeStyles/Project.xml
  .idea/dictionaries/fuxing.xml
  CONTRIBUTING.md
  README.md
  package-lock.json
  package.json
  pages/_app.tsx
  pages/index.tsx
  public/favicon.ico
Labels: area/workflow, kind/chore

#31 added nextjs built-in lint engine
  .eslintrc
  .github/workflows/ci.yml
  .husky/pre-commit
  .nvmrc
  next-env.d.ts
  package-lock.json
  package.json
Labels: area/workflow, kind/chore

#32 refactored to use /src/ directory
  .github/CODEOWNERS
  .github/labeler.yml
  README.md
  next.config.js
  src/pages/_app.tsx
  src/pages/index.tsx
  src/styles/globals.css
  tailwind.config.js
Labels: area/workflow, kind/refactor

#33 updated README.md and added robots.txt
  README.md
  public/robots.txt
Labels: area/public, kind/chore

#38 updated mono-repo deps, workflow & github health files
  .github/dependabot.yml
  .github/governance.yml
  .github/workflows/oss-governance-labeler.yml
  .github/workflows/sync-labels.yml
Labels: area/workflow, kind/chore

#40 Added Header & Footer with common Layout
  .codeclimate.yml
  .github/CODEOWNERS
  .github/governance.yml
  .github/labeler.yml
  .github/labels.yml
  .idea/dictionaries/fuxing.xml
  README.md
  src/components/icons/DeFiChainLogo.tsx
  src/layouts/Default.tsx
  src/layouts/components/Footer.tsx
  src/layouts/components/Header.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
  tailwind.config.js
Labels: area/workflow, kind/feature

#41 Added layout contexts for Whale, Playground & Network
  .idea/dictionaries/fuxing.xml
  netlify.toml
  package-lock.json
  package.json
  public/robots.txt
  src/components/icons/DeFiChainLogo.tsx
  src/layouts/Default.tsx
  src/layouts/components/Footer.tsx
  src/layouts/components/Header.tsx
  src/layouts/contexts/NetworkContext.tsx
  src/layouts/contexts/PlaygroundContext.tsx
  src/layouts/contexts/WhaleContext.tsx
  src/layouts/contexts/api/Environment.ts
  src/layouts/contexts/api/NetworkQuery.ts
  src/pages/_app.tsx
  src/pages/index.tsx
Labels: area/layouts, area/public, kind/chore

#42 Added react-redux in src/store
  .github/CODEOWNERS
  .github/governance.yml
  .github/labeler.yml
  .github/labels.yml
  README.md
  package-lock.json
  package.json
  src/layouts/Default.tsx
  src/store/block.ts
  src/store/index.ts
Labels: area/layouts, area/workflow, kind/chore

#43 Added Cypress E2E with Coverage
  .babelrc
  .github/workflows/ci.yml
  .github/workflows/ci/wait-for
  .gitignore
  README.md
  cypress.json
  cypress/integration/layouts/header.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/support/index.ts
  docker-compose.yml
  package-lock.json
  package.json
Labels: area/workflow, kind/chore

#46 on CI, cypress not to install and wait-on localhost:3000 to be ready
  .github/workflows/ci.yml
  cypress.json
  cypress/integration/layouts/header.ts
  src/layouts/contexts/PlaygroundContext.tsx
Labels: area/layouts, area/workflow, kind/chore

#48 rename project to DeFi Scan
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/2-enhancement.md
  .github/ISSUE_TEMPLATE/3-general.md
  .github/workflows/ci.yml
  .idea/modules.xml
  .idea/scan.iml
  CONTRIBUTING.md
  LICENSE
  README.md
  package-lock.json
  package.json
  src/layouts/contexts/api/Environment.ts
  src/store/index.ts
Labels: area/layouts, area/store, area/workflow, kind/chore

#50 Updated codecov config
  .github/workflows/ci.yml
  README.md
Labels: area/workflow, kind/chore

#52 Bump defichain dependencies & docker-compose.yml
  .github/CODEOWNERS
  docker-compose.yml
Labels: area/workflow, kind/dependencies

#64 fix NetworkQuery.ts not to reset path after finding playground network
  src/layouts/contexts/PlaygroundContext.tsx
  src/layouts/contexts/api/NetworkQuery.ts
Labels: area/layouts, kind/fix

#65 added ts-standard rules into lint
  .eslintrc
  .github/workflows/ci.yml
  next.config.js
  package-lock.json
  package.json
  src/components/icons/DeFiChainLogo.tsx
  src/layouts/Default.tsx
  src/layouts/components/Footer.tsx
  src/layouts/components/Header.tsx
  src/layouts/contexts/NetworkContext.tsx
  src/layouts/contexts/PlaygroundContext.tsx
  src/layouts/contexts/WhaleContext.tsx
  src/layouts/contexts/api/Environment.ts
  src/layouts/contexts/api/NetworkQuery.ts
  src/pages/_app.tsx
  src/pages/index.tsx
Labels: area/layouts, area/workflow, kind/chore

#68 Fixed routing to retain `?network=`
  .idea/scan.iml
  cypress.json
  cypress/integration/layouts/header.spec.ts
  cypress/integration/routing/network_query.spec.ts
  cypress/plugins/index.ts
  cypress/support/commands.ts
  cypress/tsconfig.json
  package-lock.json
  package.json
  src/layouts/Default.tsx
  src/layouts/components/Header.tsx
  src/layouts/contexts/PlaygroundContext.tsx
  src/layouts/contexts/api/NetworkQuery.tsx
  src/pages/prices.tsx
  tsconfig.json
Labels: area/layouts, kind/fix

#80 Added cypress/videos to gitignore.
  .gitignore
Labels: kind/chore

#84 Update lint to not allow `variable function` and `export default`
  .eslintrc
  src/components/icons/DeFiChainLogo.tsx
  src/layouts/Default.tsx
  src/layouts/components/Footer.tsx
  src/layouts/components/Header.tsx
  src/pages/_app.tsx
Labels: area/layouts, kind/chore

#86 Added cypress/screenshots to gitignore
  .gitignore
Labels: kind/chore

#87 Changed the rules for the overridding no-default-export rules to appl…
  .eslintrc
Labels: kind/chore

#88 disable testnet as it's not deployed in ocean yet
  src/layouts/contexts/api/Environment.ts
Labels: area/layouts, kind/chore
