Repository BirthdayResearch/defiscan.live, pull requests merged in 2022-08, with the labels that each got.

#1331 fix(ui-ux): display 2dp of col ratio
  src/pages/vaults/_components/VaultMobileCard.tsx
  src/pages/vaults/_components/commons/VaultCollateralizationRatio.tsx
  src/pages/vaults/_components/commons/VaultHealthBar.tsx
  src/pages/vaults/_components/commons/VaultStatus.tsx
  src/pages/vaults/_components/commons/VaultTableRow.tsx
Labels: kind/fix, area/vaults

#1334 fix(ui-ux): vault id label in light mode
  src/pages/vaults/_components/VaultMobileCard.tsx
Labels: kind/fix, area/vaults

#1332 chore(release): rc/1.4.0
  package-lock.json
  package.json
  src/pages/vaults/_components/VaultMobileCard.tsx
Labels: kind/chore, area/vaults

#1346 chore(ui-ux): remove unused code
  cypress/e2e/pages/dex/[poolpairId].spec.ts
  src/pages/dex/[poolpairId]/index.page.tsx
Labels: kind/chore, area/dex

#1347 feat(ui-ux): remove DUSD price
  cypress/e2e/pages/dex/[poolpairId].spec.ts
  src/pages/dex/[poolpairId]/index.page.tsx
Labels: kind/feature, area/dex

#1350 chore(docs): setup codeowners
  .github/CODEOWNERS
Labels: kind/chore, area/workflow

#1351 refactor(ui-ux): api integration for dex price
  src/layouts/Default.tsx
  src/pages/auctions/_components/commons/BidAmountValue.tsx
  src/pages/dex/[poolpairId]/_components/PoolPairDetailsBar.tsx
  src/pages/dex/_components/PoolPairsCards.tsx
  src/pages/dex/_components/PoolPairsTable.tsx
  src/pages/vaults/[vaultid]/auctions/_components/DesktopAuctionDetails.tsx
  src/pages/vaults/[vaultid]/auctions/_components/MobileAuctionDetails.tsx
  src/pages/vaults/hooks/CalculateAuctionsValue.tsx
  src/pages/vaults/hooks/TokenPrice.ts
  src/store/dexPrices.tsx
  src/store/index.ts
Labels: kind/refactor, area/dex, area/layouts, area/store, area/vaults, area/auctions

#1352 chore(deps): bump jellyfish packages
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/chore
