Repository BirthdayResearch/defiscan.live, pull requests merged in 2022-01, with the labels that each got.

#790 Upgraded `eslint` to v8
  package-lock.json
  package.json
Labels: kind/dependencies

#791 Added announcement banner
  src/layouts/Default.tsx
Labels: kind/chore, area/layouts

#793 Remove announcement banner
  src/layouts/Default.tsx
Labels: kind/chore, area/layouts

#783 Display bidding history on auction page
  src/components/commons/TokenSymbol.tsx
  src/components/commons/link/AddressLink.tsx
  src/components/commons/text/TextTruncate.tsx
  src/pages/vaults/[vaultid]/auctions/[index].page.tsx
  src/pages/vaults/[vaultid]/auctions/_components/AuctionBiddingHistory.tsx
  src/pages/vaults/[vaultid]/auctions/_components/BiddingHistoryMobileCard.tsx
Labels: needs/kind, area/vaults

#804 Update CODEOWNERS
  .github/CODEOWNERS
Labels: kind/chore, area/workflow

#822 hide BURN-DFI temporary from /dex
  src/components/dex/PoolPairs.tsx
Labels: kind/chore

#816 Align header count items on mobile
  src/layouts/components/HeaderCountBar.tsx
Labels: kind/fix, area/layouts

#817 Vaults Icon redesign
  src/components/icons/assets/tokens/_Default.tsx
  src/pages/vaults/_components/commons/RemainingTokensIcon.tsx
  src/pages/vaults/_components/commons/VaultTokenSymbols.tsx
Labels: kind/fix, area/vaults

#834 Fix RemainingTokensIcon alignment on Safari
  src/pages/vaults/_components/commons/RemainingTokensIcon.tsx
Labels: kind/fix, area/vaults

#833 Added ws://localhost:3000/ into connect-src
  next.config.js
Labels: kind/fix

#742 Update to tailwind v3.0.15 & FloatingUI
  cypress/integration/components/SearchBar.spec.ts
  package-lock.json
  package.json
  src/components/commons/CopyButton.tsx
  src/components/commons/QRCodeButton.tsx
  src/components/commons/SearchBar.tsx
  src/components/commons/popover/HoverPopover.tsx
  src/components/commons/popover/InfoHoverPopover.tsx
  src/components/commons/popover/WarningHoverPopover.tsx
  src/components/commons/searchbar/SearchBar.tsx
  src/components/commons/searchbar/SearchResult.tsx
  src/components/index/IndexHeader.tsx
  src/layouts/components/Header.tsx
  src/styles/globals.css
  tailwind.config.js
Labels: kind/dependencies, area/styles, area/layouts

#831 Tyrkson/update token symbols
  src/components/commons/PoolPairSymbol.tsx
  src/components/icons/assets/tokens/_TokenDefault.tsx
  src/components/icons/assets/tokens/dAAPL.tsx
  src/components/icons/assets/tokens/dAMD.tsx
  src/components/icons/assets/tokens/dARKK.tsx
  src/components/icons/assets/tokens/dBABA.tsx
  src/components/icons/assets/tokens/dGLD.tsx
  src/components/icons/assets/tokens/dGME.tsx
  src/components/icons/assets/tokens/dGOOG.tsx
  src/components/icons/assets/tokens/dPDBC.tsx
  src/components/icons/assets/tokens/dPLTR.tsx
  src/components/icons/assets/tokens/dQQQ.tsx
  src/components/icons/assets/tokens/dSLV.tsx
  src/components/icons/assets/tokens/dSPY.tsx
  src/components/icons/assets/tokens/dTLT.tsx
  src/components/icons/assets/tokens/dTSLA.tsx
  src/components/icons/assets/tokens/dURTH.tsx
  src/components/icons/assets/tokens/dVNQ.tsx
  src/components/icons/assets/tokens/index.ts
Labels: kind/feature

#837 Removed margin to provide an accurate representation
  src/pages/vaults/_components/commons/VaultHealthBar.tsx
Labels: kind/fix, area/vaults

#853 Updated node-forge and nanoid deps
  package-lock.json
  package.json
Labels: kind/dependencies

#854 Token symbols font update
  src/components/icons/assets/tokens/_TokenDefault.tsx
  src/styles/globals.css
Labels: kind/fix, area/styles

#855 `Address` Updated Balance title to UTXO Balance
  cypress/integration/components/SearchBar.spec.ts
  cypress/integration/pages/address/[address].spec.ts
  src/components/commons/AdaptiveList.tsx
  src/pages/address/_components/AddressSummaryTable.tsx
Labels: kind/refactor, area/address

#868 Implemented Blocks Countdown feature
  content/events/index.ts
  cypress/integration/pages/blocks/countdown/[height].spec.ts
  src/pages/blocks/countdown/[query]/_components/BlocksInfoSection.tsx
  src/pages/blocks/countdown/[query]/_components/CountdownSection.tsx
  src/pages/blocks/countdown/[query]/_components/InfoSection.tsx
  src/pages/blocks/countdown/[query]/index.page.tsx
Labels: kind/feature, area/blocks

#873 Added FCH to `events`
  content/events/index.ts
Labels: kind/feature

#876 Updated blocks `countdown` UI and added new event
  content/events/index.ts
  src/pages/blocks/countdown/[query]/_components/BlocksInfoSection.tsx
  src/pages/blocks/countdown/[query]/_components/CountdownSection.tsx
  src/pages/blocks/countdown/[query]/_components/InfoSection.tsx
Labels: kind/chore, area/blocks

#884 Added `DfTx` - SetGovernanceHeight
  cypress/integration/pages/blocks/countdown/[height].spec.ts
  cypress/integration/pages/transactions/DfTx/SetGovernanceHeight.spec.ts
  src/pages/transactions/_components/DfTx/DfTxSetGovernanceHeight.tsx
  src/pages/transactions/_components/TransactionDfTx.tsx
Labels: kind/feature, area/transactions

#887 Sort `oracles` alphabetically in each type
  src/pages/oracles/index.page.tsx
Labels: kind/feature, area/oracles
