Repository BirthdayResearch/defiscan.live, pull requests merged in 2022-04, with the labels that each got.

#1114 Added FCR countdown
  content/events/index.ts
Labels: kind/chore

#1118 Bumped testnet to v0.33
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/chore, area/layouts

#1121 Added may tickers
  content/prices/index.ts
Labels: kind/chore

#1122 `ORACLES` Fix oracle ticker url path validation
  src/pages/oracles/[symbol].page.tsx
Labels: kind/fix, area/oracles

#1128 Bumped Mainnet to v0.33
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/chore, area/layouts

#1132 `Transaction` Display pending transaction page with raw txn
  cypress/integration/pages/transactions/RawTransaction.spec.ts
  src/pages/transactions/[txid].page.tsx
  src/pages/transactions/_components/RawTransaction.tsx
  src/pages/transactions/_components/RawTransactionHeadings.tsx
  src/pages/transactions/_components/RawTransactionVinVout.tsx
Labels: kind/feature, area/transactions

#1106 Display Skipped Transaction for transaction that are skipped #861
  cypress/integration/pages/transactions/[txid].spec.ts
  src/pages/transactions/_components/TransactionSummaryTable.tsx
Labels: kind/feature, area/transactions

#1137 chore(workflows): update oss-governance-bot.yml to use new package
  .github/workflows/oss-governance-bot.yml
Labels: kind/chore, area/workflow

#1158 Updated DFC deps
  package-lock.json
  package.json
Labels: kind/dependencies

#1159 `/blocks/countdown/nextfutureswap` display next futureswap block countdown
  cypress/integration/pages/blocks/countdown/[height].spec.ts
  package-lock.json
  src/pages/blocks/countdown/[query]/index.page.tsx
Labels: kind/feature, area/blocks

#1157 `DEX` prices to pull from Whale API
  src/layouts/Default.tsx
  src/pages/dex/[poolpairId]/_components/PoolPairDetailsBar.tsx
  src/pages/dex/_components/PoolPairsCards.tsx
  src/pages/dex/_components/PoolPairsTable.tsx
  src/pages/dex/index.page.tsx
  src/pages/vaults/hooks/TokenPrice.ts
  src/store/dex.tsx
  src/store/index.ts
Labels: kind/feature, area/dex, area/layouts, area/store, area/vaults

#1161 chore(workflows): cleanup workflow permissions and names
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/governance.yml
  .github/labeler.yml
  .github/workflows/defichain-dependencies.yml
  .github/workflows/oss-governance-bot.yml
  .github/workflows/oss-governance-labeler.yml
  .github/workflows/oss-governance-labels.yml
Labels: kind/chore, area/workflow

#1169 chore(events): Added May dToken Reward Distribution Countdown event
  content/events/index.ts
Labels: kind/chore

#1170 fix(dex): Fix Dex individual page link
  src/pages/dex/[poolpairId]/index.page.tsx
Labels: kind/fix, area/dex
