Repository BirthdayResearch/defiscan.live, pull requests merged in 2022-07, with the labels that each got.

#1292 feat(ui-ux): Automatic display of warning message (No blocks minted > 45 mins)
  cypress/e2e/components/WarningBanner.spec.ts
  next.config.js
  public/_headers
  src/components/commons/banner/WarningBanner.tsx
  src/components/index/IndexHeader.tsx
  src/components/index/SupplyStats.tsx
  src/hooks/useApiStatus.tsx
  src/layouts/Default.tsx
  src/layouts/components/HeaderCountBar.tsx
  src/store/index.ts
  src/store/stats.tsx
  src/store/website.tsx
Labels: kind/feature, area/public, area/layouts, area/store

#1295 feat: display scan announcements
  cypress/e2e/components/WarningBanner.spec.ts
  next.config.js
  public/_headers
  src/components/commons/banner/WarningBanner.tsx
  src/store/index.ts
  src/store/website.tsx
Labels: area/public, area/store

#1297 feature(core): add dex stabilization fee on dusd-dfi
  src/pages/dex/[poolpairId]/_components/PoolPairDetailsBar.tsx
  src/pages/dex/[poolpairId]/_components/PoolPairDexStabilizationFee.tsx
  src/pages/dex/[poolpairId]/index.page.tsx
Labels: area/dex

#1298 chore(release): rc/1.3.0
  cypress/e2e/components/WarningBanner.spec.ts
  next.config.js
  public/_headers
  src/components/commons/banner/WarningBanner.tsx
  src/components/index/IndexHeader.tsx
  src/components/index/SupplyStats.tsx
  src/hooks/useApiStatus.tsx
  src/layouts/Default.tsx
  src/layouts/components/HeaderCountBar.tsx
  src/pages/dex/[poolpairId]/_components/PoolPairDetailsBar.tsx
  src/pages/dex/[poolpairId]/_components/PoolPairDexStabilizationFee.tsx
  src/pages/dex/[poolpairId]/index.page.tsx
  src/store/index.ts
  src/store/stats.tsx
  src/store/website.tsx
Labels: kind/chore, area/public, area/dex, area/layouts, area/store

#1301 make dex stabilization fee dynamic
  src/pages/dex/[poolpairId]/_components/PoolPairDexStabilizationFee.tsx
  src/pages/dex/[poolpairId]/index.page.tsx
Labels: area/dex

#1302 chore(ui-ux): fixes for announcement banner and dex fees
  cypress/e2e/components/WarningBanner.spec.ts
  src/components/commons/banner/WarningBanner.tsx
Labels: kind/chore

#1306 chore(ui-ux): fix dex ui mobile responsive
  src/pages/dex/[poolpairId]/_components/PoolPairDexStabilizationFee.tsx
  src/pages/dex/[poolpairId]/index.page.tsx
Labels: kind/chore, area/dex

#1316 fix(dex): Quick fixes for dex page
  src/pages/dex/_components/PoolPairsCards.tsx
  src/pages/dex/_components/PoolPairsTable.tsx
  src/pages/dex/index.page.tsx
Labels: kind/fix, area/dex

#1321 feat(dex): filter out v1 pair
  src/pages/vaults/hooks/TokenPrice.ts
Labels: kind/feature, area/vaults

#1319 feature(dex): display stab fees on usdc,usdt pair
  src/pages/dex/[poolpairId]/_components/PoolPairDexStabilizationFee.tsx
  src/pages/dex/[poolpairId]/index.page.tsx
Labels: area/dex

#1315 chore(ui-ux): fixed Pool Add Liquidity dark mode style
  src/pages/transactions/_components/DfTx/DfTxPoolAddLiquidity.tsx
Labels: kind/chore, area/transactions
