Repository BirthdayResearch/defiscan.live, pull requests merged in 2022-12, with the labels that each got.

#1573 feature(setup): add standard and pnpm
  .eslintrc
  .github/renovate.json
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .npmrc
  .prettierignore
  package-lock.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Labels: kind/feature, area/workflow

#1579 feat(styles): updated active state for more menu and resolve error
  src/layouts/components/Header.tsx
Labels: kind/feature, area/layouts

#1582 feature(stylings): update dropdown menu for navbar
  src/layouts/components/Header.tsx
Labels: kind/feature, area/layouts

#1587 feature(ui-ux): add voting modal
  src/pages/on-chain-governance/[proposalId]/index.page.tsx
  src/pages/on-chain-governance/_components/CopyToClipboardIcon.tsx
  src/pages/on-chain-governance/_components/VoteModal.tsx
  src/pages/on-chain-governance/_components/VotingResultBreakdown.tsx
Labels: kind/feature

#1592 chore(workflow): bump deps and add @netlify/ipx
  package.json
  pnpm-lock.yaml
Labels: kind/chore

#1589 feat(ui-ux): add current voting cycle proposal list page
  src/pages/on-chain-governance/_components/Button.tsx
  src/pages/on-chain-governance/_components/ProposalCard.tsx
  src/pages/on-chain-governance/_components/ProposalTable.tsx
  src/pages/on-chain-governance/enum/onChainGovernanceTitles.ts
  src/pages/on-chain-governance/enum/votingStages.ts
  src/pages/on-chain-governance/index.page.tsx
  src/pages/on-chain-governance/shared/durationHelper.ts
Labels: kind/feature

#1603 chore(deps): bump packages and remove cache of pnpm
  .eslintrc
  .github/ISSUE_TEMPLATE/1-bug-report.md
  .github/ISSUE_TEMPLATE/3-general.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/governance.yml
  .github/labels.yml
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .github/workflows/oss-governance-bot.yml
  .github/workflows/oss-governance-labeler.yml
  .github/workflows/oss-governance-labels.yml
  .github/workflows/stale.yml
  .imgbotconfig
  .npmrc
  README.md
  babel.config.js
  content/prices/index.ts
  cypress.config.js
  docker-compose.yml
  next-sitemap.config.js
  next.config.js
  package.json
  pnpm-lock.yaml
  postcss.config.js
  tailwind.config.js
  tsconfig.json
Labels: kind/chore, area/workflow

#1599 chore(ocean): refactor options passing in newWhaleClient and newRpcClient
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/chore, area/layouts

#1600 feat(ui-ux): add previous voting cycles and previous proposals based on cycle
  src/pages/on-chain-governance/_components/PreviousVotingCycleProposalsCards.tsx
  src/pages/on-chain-governance/_components/PreviousVotingCycleProposalsTable.tsx
  src/pages/on-chain-governance/_components/PreviousVotingCyclesCard.tsx
  src/pages/on-chain-governance/_components/PreviousVotingCyclesTable.tsx
  src/pages/on-chain-governance/enum/onChainGovernanceTitles.ts
  src/pages/on-chain-governance/index.page.tsx
  src/pages/on-chain-governance/previous-voting-cycles/[pvid].page.tsx
  src/pages/on-chain-governance/previous-voting-cycles/index.page.tsx
  src/pages/on-chain-governance/shared/getTotalVotes.ts
Labels: kind/feature

#1613 feature(ui-ux): api integration for list OCG proposal listing
  src/layouts/contexts/WhaleContext.tsx
  src/pages/on-chain-governance/_components/ProposalCard.tsx
  src/pages/on-chain-governance/_components/ProposalTable.tsx
  src/pages/on-chain-governance/enum/onChainGovernanceTitles.ts
  src/pages/on-chain-governance/index.page.tsx
Labels: kind/feature, area/layouts

#1611 feat(ui-ux): integrate api into details page and update ui based on api
  src/pages/on-chain-governance/[proposalId]/index.page.tsx
  src/pages/on-chain-governance/_components/ProposalCard.tsx
  src/pages/on-chain-governance/_components/ProposalTable.tsx
  src/pages/on-chain-governance/index.page.tsx
  src/pages/on-chain-governance/shared/getTotalVotes.ts
  src/pages/on-chain-governance/shared/getVoteCount.ts
Labels: kind/feature

#1623 feature(ui-ux): added create proposal page
  src/components/commons/CopyButton.tsx
  src/pages/on-chain-governance/_components/ConfirmDialog.tsx
  src/pages/on-chain-governance/_components/DisclosureComponent.tsx
  src/pages/on-chain-governance/_components/GettingStartedInfo.tsx
  src/pages/on-chain-governance/_components/InputComponent.tsx
  src/pages/on-chain-governance/_components/ReviewProposal.tsx
  src/pages/on-chain-governance/_components/SubmitProposal.tsx
  src/pages/on-chain-governance/create/index.page.tsx
  src/pages/on-chain-governance/index.page.tsx
  tailwind.config.js
Labels: kind/feature

#1624 feat(ui-ux): add header updates to OCG
  src/hooks/useWindowDimensions.tsx
  src/layouts/components/Header.tsx
Labels: kind/feature, area/layouts

#1631 feat(ui-ux): add proposal listing page
  src/pages/on-chain-governance/_components/Button.tsx
  src/pages/on-chain-governance/_components/PreviousVotingCycleProposalsCards.tsx
  src/pages/on-chain-governance/_components/PreviousVotingCycleProposalsTable.tsx
  src/pages/on-chain-governance/_components/PreviousVotingCyclesCard.tsx
  src/pages/on-chain-governance/_components/PreviousVotingCyclesTable.tsx
  src/pages/on-chain-governance/_components/ProposalCard.tsx
  src/pages/on-chain-governance/_components/ProposalTable.tsx
  src/pages/on-chain-governance/enum/UserQueryProposalStatus.ts
  src/pages/on-chain-governance/enum/onChainGovernanceTitles.ts
  src/pages/on-chain-governance/enum/votingStages.ts
  src/pages/on-chain-governance/index.page.tsx
  src/pages/on-chain-governance/previous-voting-cycles/[pvid].page.tsx
  src/pages/on-chain-governance/previous-voting-cycles/index.page.tsx
  src/pages/on-chain-governance/shared/dateHelper.ts
  src/pages/on-chain-governance/shared/getCycleEndTime.tsx
Labels: kind/feature
