Repository BirthdayResearch/defiscan.live, pull requests merged in 2022-06, with the labels that each got.

#1211 chore(whale): Bumped mainnet to 0.36
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/chore, area/layouts

#1212 chore(whale): bumped mainnet to v2.45
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/chore, area/layouts

#1215 feat(countdown): Migrated events block countdown to Prismic
  content/events/index.ts
  package-lock.json
  package.json
  src/pages/blocks/countdown/[query]/index.page.tsx
Labels: kind/feature, area/blocks

#1216 chore(workflow): consolidate jellyfish dependencies bumping
  .github/workflows/defichain-dependencies.yml
  .github/workflows/jellyfish-dependencies.yml
Labels: kind/chore, area/workflow

#1218 chore(ocean): bump testnet to use v2.45
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/chore, area/layouts

#1220 fix(countdown): Fixed countdown
  src/pages/blocks/countdown/[query]/index.page.tsx
Labels: kind/fix, area/blocks

#1229 chore(whale): Changed to v0
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/chore, area/layouts

#1233 feat(docs): updated codeowners
  .github/CODEOWNERS
Labels: kind/feature, area/workflow

#1235 chore(dex): Hide pools that are not swappable
  src/pages/dex/index.page.tsx
Labels: kind/chore, area/dex

#1234 chore(announcement): Added announcement message
  src/layouts/Default.tsx
Labels: kind/chore, area/layouts

#1236 fix(ui-ux): update dark mode toggle
  src/components/commons/DarkModeToggle.tsx
  src/layouts/components/HeaderNetworkMenu.tsx
Labels: kind/fix, area/layouts

#1238 chore(ui-ux): removed dAMZN announcement
  src/layouts/Default.tsx
Labels: kind/chore, area/layouts

#1248 chore(ui-ux): fixed dark mode asset classes tags on Oracles page
  src/pages/blocks/_components/BlocksTable.tsx
  src/pages/dex/_components/PoolPairsTable.tsx
  src/pages/oracles/_components/OracleFeed.tsx
  src/pages/oracles/_components/OracleTickerDetail.tsx
  src/pages/vaults/_components/commons/VaultHealthBar.tsx
Labels: kind/chore, area/oracles, area/dex, area/blocks, area/vaults

#1253 fix(ui-ux): Added word break to adaptive list to prevent overflow
  src/components/commons/AdaptiveList.tsx
Labels: kind/fix, area/transactions

#1261 fix(ui-ux): fixed next Collateralization ratio miss match issue
  src/pages/vaults/[vaultid]/_components/VaultIdDetails.tsx
  src/pages/vaults/[vaultid]/index.page.tsx
  src/pages/vaults/_components/commons/VaultHealthBar.tsx
  src/pages/vaults/utils/NextCollateralizationRatio.tsx
Labels: kind/fix, area/vaults

#1257 fix(ui-ux): fixed search box issue of hide on off click
  src/components/commons/searchbar/SearchBar.tsx
  src/components/commons/searchbar/SearchResult.tsx
Labels: kind/fix

#1272 fix(ui-ux): updated next collateral ratio miss match
  src/pages/vaults/_components/commons/VaultHealthBar.tsx
Labels: kind/fix, area/vaults

#1268 chore(release): rc/1.1.0
  package-lock.json
  package.json
  src/components/commons/searchbar/SearchBar.tsx
  src/components/commons/searchbar/SearchResult.tsx
  src/pages/vaults/[vaultid]/_components/VaultIdDetails.tsx
  src/pages/vaults/[vaultid]/index.page.tsx
  src/pages/vaults/_components/commons/VaultHealthBar.tsx
  src/pages/vaults/utils/NextCollateralizationRatio.tsx
Labels: kind/chore, area/vaults

#1249 chore(tickers): Added July tickers
  content/prices/index.ts
Labels: kind/chore

#1280 feat(ui-ux): add number format on token amount
  src/pages/address/_components/AddressSummaryTable.tsx
  src/pages/transactions/_components/DfTx/DfTxCompositeSwap.tsx
Labels: kind/feature, area/transactions, area/address

#1282 feat(ui-ux): `DEX` - Pool Pair page - swap history - add padding left on token symbol
  src/pages/dex/[poolpairId]/_components/SwapTable.tsx
Labels: kind/feature, area/dex

#1252 chore(ui-ux): replaced div with next image tag for header component
  public/assets/hero/fortcanning.webp
  public/assets/hero/fortcanningDark.webp
  src/components/index/IndexHeader.tsx
  src/pages/index.page.tsx
  tsconfig.json
Labels: kind/chore, area/public

#1283 chore(release): rc/1.2.0
  cypress/e2e/pages/transactions/DfTx/CompositeSwap.spec.ts
  docker-compose.yml
  next-sitemap.config.js
  package-lock.json
  package.json
  public/assets/hero/fortcanning.webp
  public/assets/hero/fortcanningDark.webp
  src/components/index/IndexHeader.tsx
  src/pages/address/_components/AddressSummaryTable.tsx
  src/pages/dex/[poolpairId]/_components/SwapTable.tsx
  src/pages/index.page.tsx
  src/pages/transactions/_components/DfTx/DfTxCompositeSwap.tsx
  tsconfig.json
Labels: kind/chore, area/transactions, area/public, area/dex, area/address
