Repository BirthdayResearch/defiscan.live, pull requests merged in 2022-02, with the labels that each got.

#891 Updated testnet to v0.20
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/chore, area/layouts

#885 chore(docker-compose): update fork height on docker-compose
  docker-compose.yml
Labels: kind/chore

#902 Downgrade testnet to v0.19
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/chore, area/layouts

#906 Upgrade mainnet to v0.19
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/chore, area/layouts

#913 Remove banner
  src/layouts/Default.tsx
Labels: kind/chore, area/layouts

#914 Updated VaultStatsBar
  cypress/integration/pages/vaults/index.spec.ts
  src/pages/vaults/_components/VaultStatsBar.tsx
Labels: kind/refactor, area/vaults

#915 Updated links colour
  src/components/commons/Breadcrumb.tsx
  src/components/commons/link/BlockLink.tsx
  src/components/commons/link/TxIdLink.tsx
  src/components/commons/link/VaultLink.tsx
  src/components/dex/PoolPairs.tsx
  src/layouts/components/Footer.tsx
  src/pages/address/_components/AddressBalances.tsx
  src/pages/address/_components/AddressTransactionTableRow.tsx
  src/pages/blocks/[blockId]/index.page.tsx
  src/pages/transactions/_components/DfTx/DfTxSetCollateralToken.tsx
  src/pages/transactions/_components/DfTx/DfTxUpdateVault.tsx
  src/pages/transactions/_components/TransactionSummaryTable.tsx
  src/pages/vaults/_components/VaultMobileCard.tsx
Labels: kind/refactor, area/transactions, area/blocks, area/layouts, area/vaults, area/address

#929 Updated Whale RPC Client support
  package.json
  src/layouts/contexts/WhaleContext.tsx
  src/pages/stats/burn.page.tsx
Labels: kind/dependencies, area/layouts

#934 Bumped mainnet to v0.23
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/chore, area/layouts

#942 Burn stats update to burn %
  src/pages/stats/burn.page.tsx
Labels: kind/chore

#924 `Auction` - Update USD prices to use DEX price
  src/layouts/Default.tsx
  src/pages/auctions/_components/commons/BidAmountValue.tsx
  src/pages/vaults/[vaultid]/auctions/_components/DesktopAuctionDetails.tsx
  src/pages/vaults/[vaultid]/auctions/_components/MobileAuctionDetails.tsx
  src/pages/vaults/_components/commons/VaultAuctionDetails.tsx
  src/pages/vaults/hooks/CalculateAuctionsValue.tsx
  src/pages/vaults/hooks/TokenPrice.ts
  src/pages/vaults/utils/path-finding.tsx
  src/store/index.ts
  src/store/poolpairs.tsx
Labels: kind/fix, area/layouts, area/store, area/vaults, area/auctions

#970 add 24h, 30d volume for /dex
  src/components/dex/PoolPairs.tsx
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/feature, area/layouts

#963 Stats section on Homepage
  cypress/integration/pages/dex/dex.spec.ts
  cypress/integration/pages/index.spec.ts
  src/components/index/StatCard.tsx
  src/components/index/SupplyStats.tsx
  src/layouts/Default.tsx
  src/pages/index.page.tsx
  src/store/index.ts
  src/store/stats.tsx
  src/store/supply.tsx
  src/utils/index/CalculatePercentage.ts
Labels: kind/feature, area/layouts, area/store

#975 `DEX` Updated APR to show commission and rewards
  src/components/dex/PoolPairs.tsx
Labels: kind/feature

#979 `Homepage` Fixed TVL units
  src/components/index/SupplyStats.tsx
Labels: kind/fix

#984 Dependencies upgrades
  package-lock.json
  package.json
Labels: kind/dependencies

#990 Added Testnet notification
  src/components/commons/banner/WarningBanner.tsx
  src/layouts/Default.tsx
Labels: kind/chore, area/layouts
