Repository BirthdayResearch/defiscan.live, pull requests merged in 2022-11, with the labels that each got.

#1492 fix(ui-ux): future swap to destination to reflect the right token
  src/pages/transactions/_components/DfTx/DfTxSetFutureSwap.tsx
Labels: kind/fix, area/transactions

#1493 chore(deps): upgrade to Nextjs ^13.0.0
  package-lock.json
  package.json
  src/components/commons/link/Link.tsx
  src/components/icons/assets/tokens/DOGE.tsx
  src/components/icons/assets/tokens/ETH.tsx
  src/components/icons/assets/tokens/USDT.tsx
  src/components/index/IndexHeader.tsx
Labels: kind/chore

#1496 chore(deps): update defichain packages
  docker-compose.yml
  package-lock.json
  package.json
Labels: kind/chore

#1525 fix(dex): dex price on mobile
  src/pages/dex/_components/PoolPairsCards.tsx
  src/pages/dex/_components/PoolPairsTable.tsx
  src/pages/dex/hooks/CalculatePoolPairPrices.ts
Labels: kind/fix, area/dex

#1528 chore(deps): upgrade cypress to ^11.1.0
  package-lock.json
  package.json
Labels: kind/chore

#1547 feature(deps): update scan docker file
  docker-compose.yml
Labels: kind/feature

#1548 chore(deps): upgrade react-number-format to v5
  package-lock.json
  package.json
  src/components/index/IndexHeader.tsx
  src/components/index/LiquidityPoolList.tsx
  src/components/index/StatCard.tsx
  src/components/index/SupplyStats.tsx
  src/layouts/components/HeaderCountBar.tsx
  src/pages/address/_components/AddressSummaryTable.tsx
  src/pages/auctions/_components/commons/BidAmountValue.tsx
  src/pages/blocks/_components/BlocksCards.tsx
  src/pages/blocks/_components/BlocksTable.tsx
  src/pages/blocks/countdown/[query]/_components/BlocksInfoSection.tsx
  src/pages/blocks/countdown/[query]/_components/InfoSection.tsx
  src/pages/dex/[poolpairId]/_components/PoolPairDetails.tsx
  src/pages/dex/[poolpairId]/_components/PoolPairDetailsBar.tsx
  src/pages/dex/[poolpairId]/_components/PoolPairInfo.tsx
  src/pages/dex/[poolpairId]/_components/SwapCards.tsx
  src/pages/dex/[poolpairId]/_components/SwapTable.tsx
  src/pages/dex/_components/APRInfo.tsx
  src/pages/dex/_components/PoolPairsCards.tsx
  src/pages/dex/_components/PoolPairsTable.tsx
  src/pages/dex/_components/TotalLiquidityInfo.tsx
  src/pages/dex/index.page.tsx
  src/pages/masternodes/_components/MasternodeCards.tsx
  src/pages/masternodes/_components/MasternodeTable.tsx
  src/pages/masternodes/index.page.tsx
  src/pages/oracles/_components/OracleFeed.tsx
  src/pages/oracles/_components/OracleGraph.tsx
  src/pages/oracles/_components/OracleTable.tsx
  src/pages/oracles/_components/OracleTickerDetail.tsx
  src/pages/stats/burn.page.tsx
  src/pages/tokens/[id].page.tsx
  src/pages/tokens/_components/TokenCards.tsx
  src/pages/tokens/_components/TokenTable.tsx
  src/pages/transactions/_components/DfTx/DfTxCompositeSwap.tsx
  src/pages/transactions/_components/DfTx/DfTxPoolSwap.tsx
  src/pages/transactions/_components/DfTx/DfTxTokenMint.tsx
  src/pages/vaults/[vaultid]/_components/VaultIdCollateralDetails.tsx
  src/pages/vaults/[vaultid]/_components/VaultIdLoansDetails.tsx
  src/pages/vaults/[vaultid]/auctions/_components/DesktopAuctionDetails.tsx
  src/pages/vaults/[vaultid]/auctions/_components/MobileAuctionDetails.tsx
  src/pages/vaults/_components/VaultMobileCard.tsx
  src/pages/vaults/_components/VaultStatsBar.tsx
  src/pages/vaults/_components/commons/VaultAuctionDetails.tsx
  src/pages/vaults/_components/commons/VaultCollateralizationRatio.tsx
  src/pages/vaults/_components/commons/VaultHealthBar.tsx
  src/pages/vaults/_components/commons/VaultNumberValues.tsx
  src/pages/vaults/_components/commons/VaultTableRow.tsx
Labels: kind/chore, area/transactions, area/masternodes, area/oracles, area/tokens, area/dex, area/blocks, area/layouts, area/vaults, area/address, area/auctions
