Repository BirthdayResearch/defiscan.live, pull requests merged in 2022-09, with the labels that each got.

#1353 fix(ui-ux): SEO updates
  src/layouts/Default.tsx
Labels: kind/fix, area/layouts

#1354 chore(deps): update to prettier
  .editorconfig
  .eslintrc
  .github/workflows/ci.yml
  .lintstagedrc.js
  package-lock.json
  package.json
  src/components/commons/banner/WarningBanner.tsx
  src/components/commons/searchbar/SearchBar.tsx
  src/layouts/Default.tsx
Labels: kind/chore, area/workflow, area/layouts

#1359 chore(deps): update to SWC
  .eslintrc
  next.config.js
Labels: kind/chore

#1384 feature(ui-ux): rename USD to USDT
  cypress/e2e/pages/auctions/index.spec.ts
  cypress/e2e/pages/dex/dex.spec.ts
  cypress/e2e/pages/index.spec.ts
  cypress/e2e/pages/vaults/[vaultid]/auctions/[index].spec.ts
  cypress/e2e/pages/vaults/[vaultid]/index-InLiquidation.spec.ts
  src/components/commons/IconsTooltip.tsx
  src/components/index/IndexHeader.tsx
  src/components/index/LiquidityPoolList.tsx
  src/layouts/components/HeaderCountBar.tsx
  src/pages/auctions/_components/commons/BidAmountValue.tsx
  src/pages/auctions/index.page.tsx
  src/pages/dex/_components/PoolPairsCards.tsx
  src/pages/dex/_components/PoolPairsTable.tsx
  src/pages/dex/index.page.tsx
  src/pages/masternodes/index.page.tsx
  src/pages/oracles/_components/OracleFeed.tsx
  src/pages/oracles/_components/OracleGraph.tsx
  src/pages/oracles/_components/OracleTable.tsx
  src/pages/oracles/_components/OracleTickerDetail.tsx
  src/pages/vaults/[vaultid]/_components/VaultIdAuctionsDetails.tsx
  src/pages/vaults/[vaultid]/_components/VaultIdCollateralDetails.tsx
  src/pages/vaults/[vaultid]/_components/VaultIdDetails.tsx
  src/pages/vaults/[vaultid]/_components/VaultIdLoansDetails.tsx
  src/pages/vaults/[vaultid]/auctions/_components/DesktopAuctionDetails.tsx
  src/pages/vaults/[vaultid]/auctions/_components/MobileAuctionDetails.tsx
  src/pages/vaults/_components/VaultMobileCard.tsx
  src/pages/vaults/_components/VaultStatsBar.tsx
  src/pages/vaults/_components/commons/VaultAuctionDetails.tsx
  src/pages/vaults/_components/commons/VaultTableRow.tsx
Labels: kind/feature, area/masternodes, area/oracles, area/dex, area/layouts, area/vaults, area/auctions

#1393 chore(deps): setup renovate
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .github/workflows/jellyfish-dependencies.yml
  .github/workflows/oss-governance-bot.yml
  .github/workflows/oss-governance-labeler.yml
  .github/workflows/oss-governance-labels.yml
  .github/workflows/stale.yml
Labels: kind/chore, area/workflow

#1425 feature(ui-ux): update loans avatar
  src/components/icons/assets/tokens/_TokenDefault.tsx
  src/components/icons/assets/tokens/index.ts
Labels: kind/feature

#1433 chore(dex): invert /dex price calculation to use same price logic as /dex/:id page
  src/pages/dex/_components/PoolPairsTable.tsx
Labels: kind/chore, area/dex
