Repository BirthdayResearch/defiscan.live, pull requests merged in 2022-03, with the labels that each got.

#994 `DEX` Table Columns & APR Breakdown UI update
  cypress/integration/pages/dex/dex.spec.ts
  src/components/commons/popover/HoverPopover.tsx
  src/components/commons/popover/MoreHoverPopover.tsx
  src/components/dex/PoolPairs.tsx
  src/pages/dex/index.page.tsx
Labels: kind/feature, area/dex

#997 Added warning message when next ratio is 1.1x less than min ratio
  src/pages/vaults/_components/commons/VaultCollateralizationRatio.tsx
  src/pages/vaults/_components/commons/VaultHealthBar.tsx
Labels: kind/feature, area/vaults

#996 Implemented CardList Component
  cypress/integration/pages/auctions/index.spec.ts
  cypress/integration/pages/vaults/[vaultid]/index-InLiquidation.spec.ts
  src/components/commons/CardList.tsx
  src/pages/auctions/index.page.tsx
  src/pages/dex/_components/PoolPairsTable.tsx
  src/pages/dex/index.page.tsx
  src/pages/vaults/[vaultid]/_components/VaultIdAuctionsDetails.tsx
  src/pages/vaults/[vaultid]/_components/VaultIdLoansDetails.tsx
  src/pages/vaults/_components/VaultMobileCard.tsx
  src/pages/vaults/_components/commons/VaultAuctionDetails.tsx
  src/pages/vaults/index.page.tsx
Labels: kind/feature, area/dex, area/core, area/vaults, area/auctions

#999 Refactored `Tokens` & `Masternodes`
  cypress/integration/pages/auctions/index.spec.ts
  cypress/integration/pages/blocks/index.spec.ts
  cypress/integration/pages/dex/dex.spec.ts
  cypress/integration/pages/masternodes/masternodes.spec.ts
  cypress/integration/pages/tokens/tokens.spec.ts
  src/components/commons/CardList.tsx
  src/components/commons/link/AddressLink.tsx
  src/pages/blocks/_components/BlocksCards.tsx
  src/pages/blocks/_components/BlocksTable.tsx
  src/pages/blocks/index.page.tsx
  src/pages/dex/_components/APRInfo.tsx
  src/pages/dex/_components/PoolPairsCards.tsx
  src/pages/dex/_components/PoolPairsTable.tsx
  src/pages/dex/index.page.tsx
  src/pages/masternodes/_components/MasternodeCards.tsx
  src/pages/masternodes/_components/MasternodeTable.tsx
  src/pages/masternodes/index.page.tsx
  src/pages/tokens/_components/TokenCards.tsx
  src/pages/tokens/_components/TokenTable.tsx
  src/pages/tokens/index.page.tsx
  src/pages/vaults/_components/VaultMobileCard.tsx
Labels: kind/refactor, area/masternodes, area/tokens, area/dex, area/blocks, area/vaults

#1011 bump to v0.26
  src/layouts/contexts/WhaleContext.tsx
  src/pages/dex/[poolpairId]/_components/SwapCards.tsx
  src/pages/dex/[poolpairId]/_components/SwapTable.tsx
  src/pages/dex/[poolpairId]/index.page.tsx
  src/pages/dex/_components/PoolPairsCards.tsx
  src/pages/dex/_components/PoolPairsTable.tsx
Labels: kind/chore, area/dex, area/layouts

#1012 fix(dex): list 100 poolpair at most instead of 30
  src/pages/dex/index.page.tsx
Labels: kind/fix, area/dex

#1014 Joeldavidw/symbol improvement
  src/pages/dex/_components/PoolPairsCards.tsx
Labels: kind/refactor, area/dex

#1016 Added dtoken mar rewards event
  content/events/index.ts
Labels: kind/chore

#1008 `DEX` Poolpair page
  cypress/integration/pages/blocks/index.spec.ts
  cypress/integration/pages/dex/[poolpairId].spec.ts
  package-lock.json
  package.json
  src/components/commons/CardList.tsx
  src/components/commons/UnitSuffix.tsx
  src/pages/blocks/_components/BlocksCards.tsx
  src/pages/dex/[poolpairId]/_components/PoolPairDetails.tsx
  src/pages/dex/[poolpairId]/_components/PoolPairGraph.tsx
  src/pages/dex/[poolpairId]/_components/SwapCards.tsx
  src/pages/dex/[poolpairId]/_components/SwapTable.tsx
  src/pages/dex/[poolpairId]/index.page.tsx
  src/pages/dex/_components/PoolPairsCards.tsx
  src/pages/dex/_components/PoolPairsTable.tsx
  src/pages/tokens/_components/TokenCards.tsx
  src/pages/tokens/_components/TokenTable.tsx
  src/pages/vaults/_components/VaultMobileCard.tsx
  src/pages/vaults/_components/commons/VaultAuctionDetails.tsx
Labels: kind/feature, area/tokens, area/dex, area/blocks, area/vaults

#1023 Updated packages and bumped to 0.27
  package-lock.json
  package.json
  src/layouts/contexts/WhaleContext.tsx
  src/pages/stats/burn.page.tsx
Labels: kind/chore, area/layouts

#1027 `DEX`: Remove Volume graph
  cypress/integration/pages/dex/[poolpairId].spec.ts
  src/pages/dex/[poolpairId]/index.page.tsx
Labels: kind/chore, area/dex

#1028 Added feature to sort for total liquidity, volume and apr on DEX page
  cypress/integration/pages/dex/dex.spec.ts
  src/components/commons/CardList.tsx
  src/components/commons/OverflowTable.tsx
  src/pages/dex/_components/PoolPairsCards.tsx
  src/pages/dex/_components/PoolPairsTable.tsx
Labels: kind/feature, area/dex

#1043 `Homepage` Fixed language in Stats
  cypress/integration/pages/index.spec.ts
  src/components/commons/sections/CollapsibleSection.tsx
  src/components/index/IndexHeader.tsx
  src/components/index/StatCard.tsx
  src/components/index/SupplyStats.tsx
  src/pages/index.page.tsx
  src/store/stats.tsx
  src/utils/index/CalculatePercentage.ts
Labels: kind/fix, area/store

#1046 Added bid number to vaults, auctions page and fixed bid numbers
  src/pages/auctions/_components/commons/BidAmountValue.tsx
  src/pages/vaults/[vaultid]/auctions/_components/AuctionBiddingHistory.tsx
  src/pages/vaults/[vaultid]/auctions/_components/BiddingHistoryMobileCard.tsx
  src/pages/vaults/[vaultid]/auctions/_components/DesktopAuctionDetails.tsx
  src/pages/vaults/[vaultid]/auctions/_components/MobileAuctionDetails.tsx
  src/pages/vaults/_components/commons/VaultAuctionDetails.tsx
Labels: kind/feature, area/vaults, area/auctions

#1050 `Tokens` Fixed token category
  src/pages/tokens/[id].page.tsx
Labels: kind/fix, area/tokens

#1041 Indv. PoolPair Implement UI change
  cypress/integration/pages/dex/[poolpairId].spec.ts
  src/pages/dex/[poolpairId]/_components/PoolPairDetails.tsx
  src/pages/dex/[poolpairId]/_components/PoolPairDetailsBar.tsx
  src/pages/dex/[poolpairId]/_components/SwapCards.tsx
  src/pages/dex/[poolpairId]/_components/SwapTable.tsx
  src/pages/dex/[poolpairId]/index.page.tsx
Labels: kind/feature, area/dex

#1051 Bumped whale to 0.31
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/chore, area/layouts

#1052 Added DUSD composition percentage
  src/pages/vaults/[vaultid]/_components/VaultIdCollateralDetails.tsx
Labels: kind/feature, area/vaults

#1042 Added graph period button for 1D, 7D & 30D
  cypress/integration/pages/oracles/oracles-[symbol].spec.ts
  src/pages/oracles/_components/OracleGraph.tsx
Labels: kind/feature, area/oracles

#1067 Removed `??=` syntax
  src/pages/oracles/_components/OracleGraph.tsx
Labels: kind/fix, area/oracles

#1030 Implement support for multiple params to access indv. poolpairs
  cypress/integration/pages/dex/[poolpairId].spec.ts
  src/components/commons/OverflowTable.tsx
  src/pages/dex/[poolpairId]/_components/PoolPairDetailsBar.tsx
  src/pages/dex/[poolpairId]/index.page.tsx
  src/pages/dex/_components/PoolPairsCards.tsx
  src/pages/dex/_components/PoolPairsTable.tsx
Labels: kind/feature, area/dex

#1074 Add permalink for token display symbol to direct to individual token …
  cypress/integration/pages/tokens/tokens-[symbol].spec.ts
  src/pages/tokens/[id].page.tsx
  src/pages/tokens/_components/TokenCards.tsx
  src/pages/tokens/_components/TokenTable.tsx
Labels: kind/feature, area/tokens

#1076 `Dex` UI updates
  cypress/integration/pages/dex/[poolpairId].spec.ts
  cypress/integration/pages/dex/dex.spec.ts
  src/components/commons/token/PoolPairSymbolLocal.tsx
  src/pages/dex/[poolpairId]/_components/PoolPairDetailsBar.tsx
  src/pages/dex/_components/PoolPairsCards.tsx
  src/pages/dex/_components/PoolPairsTable.tsx
  src/pages/dex/_components/TotalLiquidityInfo.tsx
Labels: kind/feature, area/dex

#1066 `Improvement` indv. poolpair page
  cypress/integration/pages/dex/[poolpairId].spec.ts
  src/hooks/useAge.tsx
  src/pages/dex/[poolpairId]/_components/PoolPairDetails.tsx
  src/pages/dex/[poolpairId]/_components/PoolPairDetailsBar.tsx
  src/pages/dex/[poolpairId]/_components/SwapCards.tsx
  src/pages/dex/[poolpairId]/_components/SwapTable.tsx
  src/pages/dex/[poolpairId]/index.page.tsx
Labels: kind/feature, area/dex

#1086 Prevent address from overflow in transaction details page
  src/components/commons/transactions/TransactionVectorRow.tsx
Labels: kind/fix

#1084 Implemented `useAge` hook across project
  src/pages/blocks/_components/BlocksCards.tsx
  src/pages/blocks/_components/BlocksTable.tsx
Labels: kind/feature, area/blocks

#1083 `DEX` Add sorting functionality to Primary Token Price
  cypress/integration/pages/dex/dex.spec.ts
  src/components/commons/CardList.tsx
  src/pages/dex/_components/PoolPairsCards.tsx
  src/pages/dex/_components/PoolPairsTable.tsx
  src/pages/dex/index.page.tsx
Labels: kind/feature, area/dex

#1096 Bumped testnet to v0.32
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/chore, area/layouts

#1097 Removed testnet block out of sync banner
  src/layouts/Default.tsx
Labels: kind/chore, area/layouts

#1098 `DEX`: Minor UI adjustments
  src/components/commons/token/PoolPairSymbolLocal.tsx
  src/pages/dex/[poolpairId]/_components/PoolPairDetails.tsx
  src/pages/dex/[poolpairId]/_components/SwapCards.tsx
  src/pages/dex/[poolpairId]/_components/SwapTable.tsx
  src/pages/dex/[poolpairId]/index.page.tsx
  src/pages/oracles/_components/OracleGraph.tsx
Labels: kind/fix, area/oracles, area/dex

#1103 Added April dToken distribution countdown
  content/events/index.ts
Labels: kind/chore

#1104 Bumped ocean to v0.32
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/chore, area/layouts
