Repository BirthdayResearch/defiscan.live, pull requests merged in 2022-05, with the labels that each got.

#1174 chore(countdown): Updated countdown logic
  src/pages/blocks/countdown/[query]/_components/CountdownSection.tsx
  src/pages/blocks/countdown/[query]/index.page.tsx
Labels: kind/chore, area/blocks

#1179 feat(poolpair): Auto refresh poolpair details and txns
  src/pages/dex/[poolpairId]/_components/PoolPairDetailsBar.tsx
  src/pages/dex/[poolpairId]/index.page.tsx
Labels: kind/feature, area/dex

#1180 chore(core): Revert "`DEX` prices to pull from Whale API (#1157)"
  src/layouts/Default.tsx
  src/pages/dex/[poolpairId]/_components/PoolPairDetailsBar.tsx
  src/pages/dex/[poolpairId]/index.page.tsx
  src/pages/dex/_components/PoolPairsCards.tsx
  src/pages/dex/_components/PoolPairsTable.tsx
  src/pages/dex/index.page.tsx
  src/pages/vaults/hooks/TokenPrice.ts
  src/store/dex.tsx
  src/store/index.ts
Labels: kind/chore, area/dex, area/layouts, area/store, area/vaults

#1184 chore(workflows): add required Create PR token to trigger workflows
  .github/workflows/defichain-dependencies.yml
Labels: kind/chore, area/workflow

#1186 feat(ocean): bump ocean testnet to /v0.34 and playground hostname
  next.config.js
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/feature, area/layouts

#1189 chore(events): Added Fort Canning Crunch Countdown
  content/events/index.ts
Labels: kind/chore

#1190 chore(events): Added June dTokens Reward Distribution Countdown
  content/events/index.ts
Labels: kind/chore

#1191 fix(vaults): Changed next Collateral value to use 0.99 as dusd value
  src/pages/vaults/utils/NextCollateralizationRatio.tsx
Labels: kind/fix, area/vaults

#1192 feat(dftx): Add DfTx for Future Swap
  src/pages/transactions/_components/DfTx/DfTxSetFutureSwap.tsx
  src/pages/transactions/_components/TransactionDfTx.tsx
Labels: kind/feature, area/transactions

#1188 chore(ocean): update domain to use ocean.jellyfishsdk.com for TestNet
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/chore, area/layouts

#1199 chore(whale): Bumped mainnet to v0.35
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/chore, area/layouts
