Repository BirthdayResearch/defiscan.live, pull requests merged in 2023-02, with the labels that each got.

#1711 feat(ui-ux): add transaction id enhancement to proposal detail page
  src/pages/governance/_components/ProposalCard.tsx
  src/pages/governance/_components/ProposalDetail.tsx
  src/pages/governance/_components/ProposalTable.tsx
  src/pages/governance/enum/onChainGovernanceTitles.ts
Labels: kind/feature

#1708 chore(e2e): added e2e for create proposal
  cypress/e2e/pages/governance/create/index.spec.ts
  src/components/commons/CopyButton.tsx
  src/pages/governance/_components/ConfirmDialog.tsx
  src/pages/governance/_components/DisclosureComponent.tsx
  src/pages/governance/_components/GettingStartedInfo.tsx
  src/pages/governance/_components/ReviewProposal.tsx
  src/pages/governance/_components/SubmitProposal.tsx
  src/pages/governance/_components/TextAreaComponent.tsx
  src/pages/governance/create/index.page.tsx
Labels: kind/chore

#1714 feat(ui-ux): add voting flow enhancement for ocg
  src/pages/governance/[proposalId]/index.page.tsx
  src/pages/governance/_components/CircularCheckIcon.tsx
  src/pages/governance/_components/CircularCrossIcon.tsx
  src/pages/governance/_components/VotingResult.tsx
  src/pages/governance/shared/getTotalVotes.ts
  src/pages/governance/shared/getVoteCount.ts
Labels: kind/feature

#1715 feat(ui-ux): add open proposals badge in header
  src/layouts/components/Header.tsx
Labels: kind/feature, area/layouts

#1716 feat(ui-ux): add ui changes to voting flow
  src/pages/governance/[proposalId]/index.page.tsx
  src/pages/governance/_components/VotingResult.tsx
Labels: kind/feature

#1713 chore(release): 1.6.0
  cypress/e2e/pages/governance/create/index.spec.ts
  src/components/commons/CopyButton.tsx
  src/layouts/components/Header.tsx
  src/pages/governance/[proposalId]/index.page.tsx
  src/pages/governance/_components/CircularCheckIcon.tsx
  src/pages/governance/_components/CircularCrossIcon.tsx
  src/pages/governance/_components/ConfirmDialog.tsx
  src/pages/governance/_components/DisclosureComponent.tsx
  src/pages/governance/_components/GettingStartedInfo.tsx
  src/pages/governance/_components/ProposalCard.tsx
  src/pages/governance/_components/ProposalDetail.tsx
  src/pages/governance/_components/ProposalTable.tsx
  src/pages/governance/_components/ReviewProposal.tsx
  src/pages/governance/_components/SubmitProposal.tsx
  src/pages/governance/_components/TextAreaComponent.tsx
  src/pages/governance/_components/VotingResult.tsx
  src/pages/governance/create/index.page.tsx
  src/pages/governance/enum/onChainGovernanceTitles.ts
  src/pages/governance/shared/getTotalVotes.ts
  src/pages/governance/shared/getVoteCount.ts
Labels: kind/chore, area/layouts

#1717 feature(ui-ux): remove cycle tabs in proposal detail page
  src/pages/governance/[proposalId]/index.page.tsx
Labels: kind/feature

#1723 feat(ui-ux): add requested amount to proposal listing page
  src/pages/governance/_components/ProposalCard.tsx
  src/pages/governance/_components/ProposalTable.tsx
  src/pages/governance/enum/onChainGovernanceTitles.ts
Labels: kind/feature

#1722 chore(release): 1.7.0
  src/pages/governance/[proposalId]/index.page.tsx
  src/pages/governance/_components/ProposalCard.tsx
  src/pages/governance/_components/ProposalTable.tsx
  src/pages/governance/enum/onChainGovernanceTitles.ts
Labels: kind/chore

#1726 chore(e2e): skip tokenmint e2e
  cypress/e2e/pages/transactions/DfTx/TokenMint.spec.ts
Labels: kind/chore

#1728 chore(style): remove unused styling
  src/pages/governance/_components/ProgressBar.tsx
  src/pages/governance/_components/VotingResult.tsx
Labels: kind/chore

#1727 fix(ui-ux): fixed DEX DFI pool pairs that lead to DFI-dUSDT
  src/pages/dex/_components/PoolPairsTable.tsx
Labels: kind/fix, area/dex

#1731 chore(refactor): updated package json and CI
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  package.json
Labels: kind/chore, area/workflow
