Repository BirthdayResearch/defiscan.live, pull requests merged in 2023-08, with the labels that each got.

#1797 feature(ui-ux): added parser for transferDomain txn type
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  cypress.config.js
  next.config.js
  package.json
  pnpm-lock.yaml
  src/pages/address/[address].page.tsx
  src/pages/address/_components/AddressSummaryTable.tsx
  src/pages/transactions/_components/DfTx/DfTxTransferDomain.tsx
  src/pages/transactions/_components/TransactionDfTx.tsx
  src/store/index.ts
  src/store/metachain.tsx
  tailwind.config.js
  tsconfig.json
Labels: kind/feature, area/workflow, area/transactions, area/store, area/address

#1843 chore(ui-ux): updated twitter logo to its latest version
  src/components/icons/assets/TwitterIcon.tsx
  src/layouts/components/Footer.tsx
Labels: kind/chore, area/layouts

#1846 feature(ui-ux): add new tokens and dtokens for matic, sol, and dot
  package.json
  pnpm-lock.yaml
  src/components/icons/assets/tokens/DOT.tsx
  src/components/icons/assets/tokens/MATIC.tsx
  src/components/icons/assets/tokens/SOL.tsx
  src/components/icons/assets/tokens/dDOT.tsx
  src/components/icons/assets/tokens/dMATIC.tsx
  src/components/icons/assets/tokens/dSOL.tsx
  src/components/icons/assets/tokens/index.ts
  src/pages/proof-of-backing/_components/BackingTable.tsx
Labels: kind/feature

#1852 feat(ui-ux): add matic, sol and dot tokens to proof of backing
  src/constants/TokenBackedAddress.ts
  src/pages/proof-of-backing/_components/BackingTable.tsx
  src/pages/tokens/[id].page.tsx
Labels: kind/feature, area/tokens

#1861 chore(ops): update changi network
  package.json
  pnpm-lock.yaml
  src/layouts/contexts/Environment.ts
  src/layouts/contexts/NetworkContext.tsx
Labels: kind/chore, area/layouts

#1864 chore(ui-ux): evm chore and pr comments
  package.json
  pnpm-lock.yaml
  src/pages/transactions/_components/DfTx/DfTxTransferDomain.tsx
  src/store/metachain.tsx
Labels: kind/chore, area/transactions, area/store
