Repository BirthdayResearch/defiscan.live, pull requests merged in 2023-03, with the labels that each got.

#1739 chore(ui-ux): Rename Loan to dTokens
  src/pages/oracles/index.page.tsx
Labels: kind/chore, area/oracles

#1742 chore(ui-ux): rename loan -> dtoken (popover)
  src/pages/oracles/index.page.tsx
Labels: kind/chore, area/oracles

#1746 chore(ops): update pnpm
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .npmrc
  package.json
  pnpm-lock.yaml
Labels: kind/chore, area/workflow

#1747 fix(ui-ux): subdomain agnostic regex for discussion links
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  src/utils/commons/LinkValidator.test.ts
  src/utils/commons/LinkValidator.ts
Labels: kind/fix, area/workflow

#1751 chore(tests): Migrate to @birthdayresearch/sticky-jest
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/utils/commons/LinkValidator.unit.ts
Labels: kind/chore

#1736 feat(ui-ux): show progress bar of votes on proposals overview screen
  src/pages/governance/_components/ProposalCard.tsx
  src/pages/governance/_components/ProposalTable.tsx
  src/pages/governance/_components/VotingResult.tsx
  src/pages/governance/enum/onChainGovernanceTitles.ts
  src/pages/governance/index.page.tsx
Labels: kind/feature

#1748 chore(asset): add dEUROC
  src/components/icons/assets/tokens/ReusableSVGElements.tsx
  src/components/icons/assets/tokens/dEUROC.tsx
  src/components/icons/assets/tokens/index.ts
  src/layouts/Default.tsx
Labels: kind/chore, area/layouts

#1757 fix(tokens): temp ugly fix to display dEUROC-dfi link
  src/pages/dex/_components/PoolPairsTable.tsx
Labels: kind/fix, area/dex

#1758 fix(dex): add stab fee to deuroc-dusd
  src/pages/dex/[poolpairId]/index.page.tsx
Labels: kind/fix, area/dex

#1737 feature(proof-of-backing): add proof of backing page
  src/constants/TokenBackedAddress.ts
  src/layouts/components/Header.tsx
  src/pages/proof-of-backing/_components/BackingCard.tsx
  src/pages/proof-of-backing/_components/BackingTable.tsx
  src/pages/proof-of-backing/index.page.tsx
  src/pages/tokens/[id].page.tsx
  src/pages/tokens/shared/getAllTokens.ts
Labels: kind/feature, area/tokens, area/layouts

#1760 fix(dex): dirty fix poolpair link on mobile
  src/pages/dex/_components/PoolPairsCards.tsx
Labels: kind/fix, area/dex

#1761 chore(release): 1.9.0
  src/constants/TokenBackedAddress.ts
  src/layouts/components/Header.tsx
  src/pages/dex/_components/PoolPairsCards.tsx
  src/pages/proof-of-backing/_components/BackingCard.tsx
  src/pages/proof-of-backing/_components/BackingTable.tsx
  src/pages/proof-of-backing/index.page.tsx
  src/pages/tokens/[id].page.tsx
  src/pages/tokens/shared/getAllTokens.ts
Labels: kind/chore, area/tokens, area/dex, area/layouts

#1768 fix(ui-ux): fix the dex poolpairid page
  src/pages/dex/[poolpairId]/_components/PoolPairDetailsBar.tsx
Labels: kind/fix, area/dex

#1759 chore(dEUROC): update dEUROC icon
  src/components/icons/assets/tokens/ReusableSVGElements.tsx
  src/components/icons/assets/tokens/dEUROC.tsx
Labels: kind/chore

#1769 chore(release): 1.10.0
  src/components/icons/assets/tokens/ReusableSVGElements.tsx
  src/components/icons/assets/tokens/dEUROC.tsx
  src/pages/dex/[poolpairId]/_components/PoolPairDetailsBar.tsx
  src/pages/proof-of-backing/_components/BackingCard.tsx
  src/pages/proof-of-backing/_components/BackingTable.tsx
Labels: kind/chore, area/dex

#1773 fix(token): increase listToken limit to get all burned token
  src/pages/governance/create/index.page.tsx
  src/pages/proof-of-backing/index.page.tsx
  src/pages/tokens/[id].page.tsx
Labels: kind/fix, area/tokens
