Repository BirthdayResearch/defiscan.live, pull requests merged in 2023-11, with the labels that each got.

#1888 feat(ui-ux): update doge token backing address
  cypress/e2e/pages/tokens/tokens-[symbol].spec.ts
  cypress/fixtures/proof-of-backing/backingAddresses.ts
  src/constants/TokenBackedAddress.ts
Labels: kind/feature

#1909 chore(ops): debug 500 error
  package.json
  pnpm-lock.yaml
Labels: kind/chore

#1911 chore(ops): update proof of backing addresses for dETH, dUSDC, dUSDT, dEUROC, dMATIC, dBTC and dLTC tokens
  cypress/e2e/pages/tokens/tokens-[symbol].spec.ts
  cypress/fixtures/proof-of-backing/backingAddresses.ts
  src/constants/TokenBackedAddress.ts
Labels: kind/chore

#1912 feat(ui-ux): update sui backing address
  cypress/fixtures/proof-of-backing/backingAddresses.ts
  src/constants/TokenBackedAddress.ts
Labels: kind/feature

#1917 feat(website): add RawAccountHistory to show history at txn history
  next.config.js
  src/pages/transactions/[txid].page.tsx
  src/pages/transactions/_components/RawAccountHistory.tsx
Labels: kind/feature, area/transactions

#1916 chore(ops): add dockerfile
  Dockerfile
Labels: kind/chore
