Repository BirthdayResearch/defiscan.live, pull requests merged in 2023-01, with the labels that each got.

#1628 feature(ui-ux): added proposal detail page
  src/components/commons/CopyButton.tsx
  src/hooks/useEstimatedBlockTime.tsx
  src/pages/on-chain-governance/[proposalId]/index.page.tsx
  src/pages/on-chain-governance/_components/CircularCheckIcon.tsx
  src/pages/on-chain-governance/_components/ConfirmDialog.tsx
  src/pages/on-chain-governance/_components/ConfirmVoteDialog.tsx
  src/pages/on-chain-governance/_components/EditVoteIcon.tsx
  src/pages/on-chain-governance/_components/ProposalCard.tsx
  src/pages/on-chain-governance/_components/ProposalDetail.tsx
  src/pages/on-chain-governance/_components/ProposalTable.tsx
  src/pages/on-chain-governance/_components/VotesTable.tsx
  src/pages/on-chain-governance/_components/VotingResult.tsx
  src/pages/on-chain-governance/index.page.tsx
  src/pages/on-chain-governance/shared/dateHelper.ts
  src/pages/on-chain-governance/shared/getCycleEndTime.tsx
  src/pages/on-chain-governance/shared/getSecondsPerBlock.ts
  tailwind.config.js
Labels: kind/feature

#1640 chore(e2e): update failing tests for header
  cypress/e2e/components/SearchBar.spec.ts
  cypress/e2e/layouts/header.spec.ts
  src/layouts/components/Header.tsx
Labels: kind/chore, area/layouts

#1637 feat(ui-ux): add updated voting flow for OCG
  src/pages/on-chain-governance/[proposalId]/index.page.tsx
  src/pages/on-chain-governance/_components/ConfirmVoteDialog.tsx
  src/pages/on-chain-governance/_components/EditVoteIcon.tsx
  src/pages/on-chain-governance/_components/VotingResult.tsx
  src/pages/on-chain-governance/enum/RememberMasterNodeId.ts
  src/pages/on-chain-governance/enum/VoteStages.ts
  src/pages/on-chain-governance/index.page.tsx
  src/pages/on-chain-governance/shared/localStorageHelper.ts
Labels: kind/feature

#1647 feat(ui-ux): update proposal detail mobile view ui
  src/pages/on-chain-governance/[proposalId]/index.page.tsx
  src/pages/on-chain-governance/_components/ProposalDetail.tsx
Labels: kind/feature

#1650 feature(ui-ux): implement dark mode for OCG
  src/layouts/components/Header.tsx
  src/pages/on-chain-governance/[proposalId]/index.page.tsx
  src/pages/on-chain-governance/_components/CircularCheckIcon.tsx
  src/pages/on-chain-governance/_components/ConfirmDialog.tsx
  src/pages/on-chain-governance/_components/ConfirmVoteDialog.tsx
  src/pages/on-chain-governance/_components/DisclosureComponent.tsx
  src/pages/on-chain-governance/_components/EditVoteIcon.tsx
  src/pages/on-chain-governance/_components/GettingStartedInfo.tsx
  src/pages/on-chain-governance/_components/InputComponent.tsx
  src/pages/on-chain-governance/_components/ProposalCard.tsx
  src/pages/on-chain-governance/_components/ProposalDetail.tsx
  src/pages/on-chain-governance/_components/ProposalTable.tsx
  src/pages/on-chain-governance/_components/ReviewProposal.tsx
  src/pages/on-chain-governance/_components/SubmitProposal.tsx
  src/pages/on-chain-governance/_components/VotesTable.tsx
  src/pages/on-chain-governance/_components/VotingResult.tsx
  src/pages/on-chain-governance/create/index.page.tsx
  src/pages/on-chain-governance/index.page.tsx
Labels: kind/feature, area/layouts

#1618 feature(ui-ux): add proposal to search result
  src/components/commons/searchbar/SearchBar.tsx
  src/components/commons/searchbar/SearchResult.tsx
Labels: kind/feature

#1657 fix(ui-ux): fix create proposal command from cycle to cycles
  src/pages/on-chain-governance/create/index.page.tsx
Labels: kind/fix

#1649 fix(ui-ux): Create Proposal input fields dynamic resize and layout
  src/pages/on-chain-governance/_components/ConfirmVoteDialog.tsx
  src/pages/on-chain-governance/_components/ReviewProposal.tsx
  src/pages/on-chain-governance/_components/TextAreaComponent.tsx
  src/pages/on-chain-governance/create/index.page.tsx
Labels: kind/fix

#1663 fix(ui-ux): fixed error handling when call listGovProposals
  src/pages/on-chain-governance/index.page.tsx
Labels: kind/fix

#1658 feat(ui-ux): update tabs and statistics table to the latest design
  src/pages/on-chain-governance/_components/ProposalCard.tsx
  src/pages/on-chain-governance/_components/ProposalTable.tsx
  src/pages/on-chain-governance/enum/UserQueryProposalStatus.ts
  src/pages/on-chain-governance/index.page.tsx
Labels: kind/feature

#1656 chore(network): setup devnet
  next.config.js
  public/_headers
  src/layouts/contexts/Environment.ts
  src/layouts/contexts/NetworkContext.tsx
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/chore, area/public, area/layouts

#1665 fix(ui-ux): fixed listing gov proposal votes call to get current cycle
  src/pages/on-chain-governance/[proposalId]/index.page.tsx
Labels: kind/fix

#1666 chore(deps): bump jellyfish
  docker-compose.yml
  package.json
  pnpm-lock.yaml
Labels: kind/chore

#1643 feature(masternodes): multiple masternode support for playground docker configuration
  docker-compose.yml
Labels: kind/feature

#1669 feature(walletkit): use walletkit for network config
  package.json
  pnpm-lock.yaml
  src/hooks/useAuctionTimeLeft.tsx
  src/layouts/contexts/Environment.ts
  src/layouts/contexts/NetworkContext.tsx
  src/layouts/contexts/WhaleContext.tsx
  src/pages/on-chain-governance/[proposalId]/index.page.tsx
  src/pages/on-chain-governance/_components/ConfirmVoteDialog.tsx
  src/pages/on-chain-governance/_components/ProposalTable.tsx
  src/pages/on-chain-governance/create/index.page.tsx
  src/pages/on-chain-governance/index.page.tsx
  src/pages/on-chain-governance/shared/getSecondsPerBlock.ts
  src/pages/on-chain-governance/shared/localStorageHelper.ts
  src/store/dexPrices.tsx
  src/store/poolpairs.tsx
  src/store/stats.tsx
  src/store/supply.tsx
Labels: kind/feature, area/layouts, area/store

#1646 feat(ui-ux): add multicycle votes to details page
  src/pages/on-chain-governance/[proposalId]/index.page.tsx
  src/pages/on-chain-governance/_components/ProposalDetail.tsx
  src/pages/on-chain-governance/_components/TotalVotesCards.tsx
  src/pages/on-chain-governance/_components/VotesTable.tsx
  src/pages/on-chain-governance/_components/VotingResult.tsx
  src/pages/on-chain-governance/enum/CfpVotingResultCycleTab.ts
Labels: kind/feature

#1670 feat(ui-ux): add cursorPagination for listing page
  src/components/commons/CursorPagination.tsx
  src/pages/on-chain-governance/_components/ProposalCard.tsx
  src/pages/on-chain-governance/_components/ProposalTable.tsx
  src/pages/on-chain-governance/index.page.tsx
Labels: kind/feature

#1672 feature(ui-ux): added pagination for voting list in proposal detail page
  src/pages/on-chain-governance/[proposalId]/index.page.tsx
Labels: kind/feature

#1677 chore(ui-ux): removed UI helper for create and vote OCG proposals
  src/pages/on-chain-governance/_components/ProposalTable.tsx
  src/pages/on-chain-governance/index.page.tsx
Labels: kind/chore

#1678 chore(ui-ux): hide OCG announcement
  src/pages/on-chain-governance/index.page.tsx
Labels: kind/chore

#1679 chore(ui-ux): hide neutral vote btn from submit vote flow
  src/pages/on-chain-governance/_components/ConfirmVoteDialog.tsx
Labels: kind/chore

#1680 chore(ui-ux): redirect on block countdown page for future blocks link
  src/pages/on-chain-governance/_components/ProposalCard.tsx
  src/pages/on-chain-governance/_components/ProposalDetail.tsx
  src/pages/on-chain-governance/_components/ProposalTable.tsx
Labels: kind/chore

#1681 feature(ui-ux): added emergency chip for DFIP emergency proposal
  src/pages/on-chain-governance/_components/EmergencyChip.tsx
  src/pages/on-chain-governance/_components/ProposalCard.tsx
  src/pages/on-chain-governance/_components/ProposalDetail.tsx
  src/pages/on-chain-governance/_components/ProposalTable.tsx
Labels: kind/feature

#1684 feature(ui-ux): disabled neutral btn
  src/pages/on-chain-governance/_components/ConfirmVoteDialog.tsx
Labels: kind/feature

#1682 feature(ui-ux): added reddit support for proposal creation
  src/pages/on-chain-governance/_components/ProposalCard.tsx
  src/pages/on-chain-governance/_components/ProposalDetail.tsx
  src/pages/on-chain-governance/_components/ProposalTable.tsx
  src/pages/on-chain-governance/_components/ReviewProposal.tsx
  src/pages/on-chain-governance/create/index.page.tsx
  src/pages/on-chain-governance/enum/onChainGovernanceTitles.ts
  src/utils/commons/LinkValidator.ts
Labels: kind/feature

#1685 feature(url): redirect ocg to on-chain-governance
  public/_redirects
Labels: kind/feature, area/public

#1687 fix(ocg): display pagination UI even when it is empty
  src/pages/on-chain-governance/[proposalId]/index.page.tsx
Labels: kind/fix

#1688 feature(url): update label
  src/pages/on-chain-governance/_components/EmergencyChip.tsx
Labels: kind/feature

#1690 feature(ocg): copy updates
  src/pages/on-chain-governance/_components/ProposalCard.tsx
  src/pages/on-chain-governance/_components/ProposalDetail.tsx
  src/pages/on-chain-governance/_components/ProposalTable.tsx
  src/pages/on-chain-governance/_components/VotesTable.tsx
Labels: kind/feature

#1689 fix(ocg): include reddit in create proposal
  src/pages/on-chain-governance/_components/GettingStartedInfo.tsx
  src/pages/on-chain-governance/create/index.page.tsx
Labels: kind/fix

#1692 feature(ocg): add all tab to listing
  src/pages/on-chain-governance/index.page.tsx
Labels: kind/feature

#1693 fix(ocg): display timestamp at listing and details
  src/pages/blocks/countdown/[query]/index.page.tsx
  src/pages/on-chain-governance/[proposalId]/index.page.tsx
  src/pages/on-chain-governance/_components/ProposalCard.tsx
  src/pages/on-chain-governance/_components/ProposalDetail.tsx
  src/pages/on-chain-governance/_components/ProposalTable.tsx
  src/pages/on-chain-governance/enum/onChainGovernanceTitles.ts
  src/pages/on-chain-governance/index.page.tsx
  src/pages/on-chain-governance/shared/dateHelper.ts
  src/pages/on-chain-governance/shared/getCycleEndTime.tsx
  src/pages/on-chain-governance/shared/getSecondsPerBlock.ts
  src/pages/on-chain-governance/shared/getTotalVotes.ts
  src/pages/on-chain-governance/shared/useCycleEndTime.tsx
Labels: kind/fix, area/blocks

#1696 fix(ui-ux): changing governance url paths
  cypress/e2e/layouts/header.spec.ts
  public/_redirects
  src/components/commons/searchbar/SearchBar.tsx
  src/layouts/components/Header.tsx
  src/pages/governance/[proposalId]/index.page.tsx
  src/pages/governance/_components/Button.tsx
  src/pages/governance/_components/CheckIcon.tsx
  src/pages/governance/_components/CircularCheckIcon.tsx
  src/pages/governance/_components/ConfirmDialog.tsx
  src/pages/governance/_components/ConfirmVoteDialog.tsx
  src/pages/governance/_components/CopyToClipboardIcon.tsx
  src/pages/governance/_components/DisclosureComponent.tsx
  src/pages/governance/_components/EditVoteIcon.tsx
  src/pages/governance/_components/EmergencyChip.tsx
  src/pages/governance/_components/GettingStartedInfo.tsx
  src/pages/governance/_components/ProgressBar.tsx
  src/pages/governance/_components/ProposalCard.tsx
  src/pages/governance/_components/ProposalDetail.tsx
  src/pages/governance/_components/ProposalTable.tsx
  src/pages/governance/_components/RejectedIcon.tsx
  src/pages/governance/_components/ReviewProposal.tsx
  src/pages/governance/_components/SubmitProposal.tsx
  src/pages/governance/_components/TextAreaComponent.tsx
  src/pages/governance/_components/TotalVotesCards.tsx
  src/pages/governance/_components/VoteModal.tsx
  src/pages/governance/_components/VotesTable.tsx
  src/pages/governance/_components/VotingResult.tsx
  src/pages/governance/_components/VotingResultBreakdown.tsx
  src/pages/governance/create/index.page.tsx
  src/pages/governance/enum/CfpVotingResultCycleTab.ts
  src/pages/governance/enum/RememberMasterNodeId.ts
  src/pages/governance/enum/VoteStages.ts
  src/pages/governance/enum/onChainGovernanceTitles.ts
  src/pages/governance/index.page.tsx
  src/pages/governance/shared/dateHelper.ts
  src/pages/governance/shared/durationHelper.ts
  src/pages/governance/shared/getSecondsPerBlock.ts
  src/pages/governance/shared/getTotalVotes.ts
  src/pages/governance/shared/getVoteCount.ts
  src/pages/governance/shared/localStorageHelper.ts
  src/pages/governance/shared/useCycleEndTime.tsx
Labels: kind/fix, area/public, area/layouts

#1700 feat(ui-ux): add tooltip for masternode id and update proposal type darkmode tab
  src/pages/blocks/countdown/[query]/index.page.tsx
  src/pages/governance/_components/ConfirmVoteDialog.tsx
  src/pages/governance/_components/ProposalDetail.tsx
Labels: kind/feature, area/blocks

#1703 fix(ui-ux): input size & USDT symbol on burned token fixes
  src/pages/consortium/_components/SearchInput.tsx
  src/pages/consortium/asset_breakdown/_components/AssetBreakdownTable.tsx
Labels: kind/fix, area/consortium

#1695 fix(ui-ux): changed governance headers
  cypress/e2e/layouts/header.spec.ts
  src/layouts/components/Header.tsx
Labels: kind/fix, area/layouts

#1694 chore(release): 1.5.0
  cypress/e2e/layouts/header.spec.ts
  public/_redirects
  src/components/commons/searchbar/SearchBar.tsx
  src/layouts/components/Header.tsx
  src/pages/blocks/countdown/[query]/index.page.tsx
  src/pages/governance/[proposalId]/index.page.tsx
  src/pages/governance/_components/Button.tsx
  src/pages/governance/_components/CheckIcon.tsx
  src/pages/governance/_components/CircularCheckIcon.tsx
  src/pages/governance/_components/ConfirmDialog.tsx
  src/pages/governance/_components/ConfirmVoteDialog.tsx
  src/pages/governance/_components/CopyToClipboardIcon.tsx
  src/pages/governance/_components/DisclosureComponent.tsx
  src/pages/governance/_components/EditVoteIcon.tsx
  src/pages/governance/_components/EmergencyChip.tsx
  src/pages/governance/_components/GettingStartedInfo.tsx
  src/pages/governance/_components/ProgressBar.tsx
  src/pages/governance/_components/ProposalCard.tsx
  src/pages/governance/_components/ProposalDetail.tsx
  src/pages/governance/_components/ProposalTable.tsx
  src/pages/governance/_components/RejectedIcon.tsx
  src/pages/governance/_components/ReviewProposal.tsx
  src/pages/governance/_components/SubmitProposal.tsx
  src/pages/governance/_components/TextAreaComponent.tsx
  src/pages/governance/_components/TotalVotesCards.tsx
  src/pages/governance/_components/VoteModal.tsx
  src/pages/governance/_components/VotesTable.tsx
  src/pages/governance/_components/VotingResult.tsx
  src/pages/governance/_components/VotingResultBreakdown.tsx
  src/pages/governance/create/index.page.tsx
  src/pages/governance/enum/CfpVotingResultCycleTab.ts
  src/pages/governance/enum/RememberMasterNodeId.ts
  src/pages/governance/enum/VoteStages.ts
  src/pages/governance/enum/onChainGovernanceTitles.ts
  src/pages/governance/index.page.tsx
  src/pages/governance/shared/dateHelper.ts
  src/pages/governance/shared/durationHelper.ts
  src/pages/governance/shared/getSecondsPerBlock.ts
  src/pages/governance/shared/getTotalVotes.ts
  src/pages/governance/shared/getVoteCount.ts
  src/pages/governance/shared/localStorageHelper.ts
  src/pages/governance/shared/useCycleEndTime.tsx
  src/pages/on-chain-governance/shared/getCycleEndTime.tsx
Labels: kind/chore, area/public, area/blocks, area/layouts
