Repository BirthdayResearch/defiscan.live, pull requests merged in 2023-06, with the labels that each got.

#1803 feature(evm): update deps and enable EVM
  .github/CODEOWNERS
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  README.md
  docker-compose.yml
  package.json
  pnpm-lock.yaml
Labels: kind/feature, area/workflow

#1807 fix(core): fixed docker issue for running whale container
  docker-compose.yml
Labels: kind/fix

#1814 chore(ops): update deps and node 18
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .nvmrc
  docker-compose.yml
  jest.config.js
  next.config.js
  package.json
  pnpm-lock.yaml
  tailwind.config.js
Labels: kind/chore, area/workflow

#1818 fix(logo): update images not displaying on oracles page
  package.json
  pnpm-lock.yaml
  src/components/icons/assets/tokens/DOGE.tsx
  src/components/icons/assets/tokens/ETH.tsx
  src/components/icons/assets/tokens/USDT.tsx
Labels: kind/fix
