Repository BirthdayResearch/defiscan.live, pull requests merged in 2023-09, with the labels that each got.

#1863 feat(ui-ux): add svg icon for xchf token
  src/components/icons/assets/tokens/XCHF.tsx
  src/components/icons/assets/tokens/dXCHF.tsx
  src/components/icons/assets/tokens/index.ts
  src/constants/TokenBackedAddress.ts
  src/pages/tokens/[id].page.tsx
Labels: kind/feature, area/tokens

#1865 fix(ui-ux): filter out burn symbol in DEX table
  src/pages/dex/index.page.tsx
  src/pages/tokens/index.page.tsx
Labels: kind/fix, area/tokens, area/dex

#1866 fix(ui-ux): redirect of dxchf
  src/pages/dex/_components/PoolPairsCards.tsx
  src/pages/dex/_components/PoolPairsTable.tsx
Labels: kind/fix, area/dex

#1869 feat(ui-ux): handle tx details display for evmtx
  src/pages/address/_components/AddressVinVout.tsx
  src/pages/transactions/[txid].page.tsx
  src/pages/transactions/_components/TransactionSummaryTable.tsx
  src/pages/transactions/_components/TransactionVinVout.tsx
  src/utils/commons/evmtx/checkIfEvmTx.ts
Labels: kind/feature, area/transactions, area/address

#1870 feat(ui-ux): update quatum backing address to levain wallet address
  cypress/fixtures/proof-of-backing/backingAddresses.ts
  src/constants/TokenBackedAddress.ts
Labels: kind/feature

#1871 feat(ui-ux): temporarily use stable changi for testnet ocean
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/feature, area/layouts

#1872 bump(deps): add all package bumps
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  .github/workflows/oss-governance-labels.yml
  docker-compose.yml
  package.json
  pnpm-lock.yaml
Labels: kind/dependencies, area/workflow
