Repository BirthdayResearch/defiscan.live, pull requests merged in 2023-10, with the labels that each got.

#1884 feat(ui-ux): remove custom url for testnet
  src/layouts/contexts/WhaleContext.tsx
Labels: kind/feature, area/layouts

#1845 feat(ui-ux): EVM (TransferDomain and changi network) (#1797)
  .github/workflows/ci-e2e.yml
  .github/workflows/ci.yml
  cypress.config.js
  next.config.js
  package.json
  pnpm-lock.yaml
  src/components/icons/assets/tokens/index.ts
  src/layouts/components/Footer.tsx
  src/layouts/contexts/Environment.ts
  src/layouts/contexts/NetworkContext.tsx
  src/layouts/contexts/WhaleContext.tsx
  src/pages/address/[address].page.tsx
  src/pages/address/_components/AddressSummaryTable.tsx
  src/pages/address/_components/AddressVinVout.tsx
  src/pages/proof-of-backing/_components/BackingTable.tsx
  src/pages/tokens/[id].page.tsx
  src/pages/transactions/[txid].page.tsx
  src/pages/transactions/_components/DfTx/DfTxTransferDomain.tsx
  src/pages/transactions/_components/TransactionDfTx.tsx
  src/pages/transactions/_components/TransactionSummaryTable.tsx
  src/pages/transactions/_components/TransactionVinVout.tsx
  src/store/index.ts
  src/store/metachain.tsx
  src/utils/commons/evmtx/checkIfEvmTx.ts
  tailwind.config.js
  tsconfig.json
Labels: kind/feature, area/workflow, area/transactions, area/tokens, area/layouts, area/store, area/address

#1886 fix(ui-ux): added evm linear gradient for TD
  package.json
  pnpm-lock.yaml
  src/components/commons/token/TokenSymbol.tsx
  src/components/icons/assets/tokens/EVMLinearGradient.tsx
  src/pages/transactions/_components/DfTx/DfTxTransferDomain.tsx
Labels: kind/fix, area/transactions
